[2014-08-06 12:58] mbknor opened #2 "setting default schema"
Hi,

We're using oracle and all the tables need to be in a specific schema 'x'.

[code]

If using H2 (configured in the same oracle-way using liquibase) the following h2-connection-url worked:

[code]

I do not know of a similar oracle-connection-url-setting.

[2014-08-26 14:49] #2 closed, assigned to nobody

[2014-09-03 19:05] mwkohout opened #3 "Handling save attempts with duplicate snapshot ids and persistence ids"
Per a conversation with Patrik Nordwall on the Akka User list, it seems as if the plugin isn't properly handling saves with identical snapshot ids and persistence ids.

Here's a [link](https://groups.google.com/forum/#!topic/akka-user/wXfK3KDukh8)

[2014-09-09 12:35] gfduszynski opened #4 "Enable configuration of connection pool"
It would be great if we could create common connection pool for both
journal and other applications.
For example it would be possible to use Slick and JDBC Persistance
without separate connection pools.

[2014-09-11 08:24] gfduszynski opened #5 "Connection pool is being redefined when using journal and snapshot store."
Trait ScalikeConnection is used on both journal and snapshot stores.
This leads to destruction of one of pools and creation of the second.

[2014-09-12 18:03] #3 closed, assigned to nobody

[2014-09-12 18:28] #5 closed, assigned to nobody

[2014-09-12 19:23] #4 closed, assigned to nobody

[2014-10-30 11:58] arminc opened #8 "Custom PersistentRepr serialization to the database"
I am currently serializing PersistentRepr by using an custom serialization. Although it works I still have to save redundant data in my json to be able to reconstruct the PersistentRepr. A sample of the data is (persistence-id, sequence-number).

How about making a custom serialization of the PersistentRepr in the driver (make it optional), that way no redundant data is stored and everybody can st

[2014-12-05 16:13] stevenrigbyS4N opened #9 "java.sql.SQLRecoverableException: No more data to read from socket"
Hello,

The project I'm currently working on uses akka cluster sharding with this plugin connected to an Oracle database. It works fine but after leaving the project running for some time or when the database is stopped it throws the following error and it is unable to recover:

2014/12/05 09:25:23.887 ERROR[t-dispatcher-14] s.StatementExecutor$$anon$1 81 --- SQL execution failed (Reason: No more

[2015-01-12 15:43] orsonek opened #11 "Wrong parameters list in MS SQL Server statements"
In file journal/Statements.scala a parameter is missing for MS SQL Server (3 '?', expected 4). After correction some other exception are thrown and simple workaround (no binding) may be applied:

trait MSSqlServerStatements extends GenericStatements {
  override def selectMessagesFor(persistenceId: String, fromSequenceNr: Long, toSequenceNr: Long, max: Long): List[PersistentRepr] = {
    SQL(s"SEL

[2015-01-20 20:56] dnvriend commented on #9
Should be fixed when using the validationQuery setting v1.0.9

[2015-01-20 21:01] dnvriend commented on #11
Please alter the source code and issue a pull request. It would be nice to have a MS SQL Server available as a docker image so I can test it..

[2015-01-22 00:09] bpg commented on #9
Tested on 1.0.9 version, the same errror:
[code]

I can confirm than the new option `validationQuery` works, as a see my query `SELECT 1 FROM DUAL` as `cfg.validationQuery` value in `ScalikeExtensionImpl`:
[code]

In my test scenario application drops and re-creates `akka_snapshot` and `akka_journal` tables at start, then it works for ~40 seconds and gives me that error.
During this 40 second inte

[2015-01-22 01:41] bpg commented on #9
I did some research on this topic, and I found that in configuration that I currently have (the default, I guess) scalikejdbc 2.2.2 uses commons-dbcp v.1.4, and the root cause of the error is exception `java.sql.SQLException: OALL8 is in an inconsistent state` the happens there in `PoolableConnectionFactory.validateObject`

Googling for this exception gave me a bunch of articles suggested to updat

[2015-01-22 02:55] dnvriend commented on #9
Clone the latest version 1.0.9-SNAPSHOT, built it locally using sbt clean +publish-m2 and try it on your project. I added 2 tests, restarted the oracle docker and still the connections will not drop. The errors I get is when I restart oracle, the database does not accept connections (when the test wants to run and the db is not ready), but this is obviously correct. I changed the connection pool t

[2015-01-23 03:13] bpg commented on #9
Hi Dennis,

Thanks for the prompt reply.
I tried all you suggested:
- 1.0.9-SNAPSHOT
- ojdbc6 from the project's lib

and
- the Oracle XE instance from docker image you're using in tests
- a separate user / schema dedicated for the journal and snapshot tables
- monitored number of used connections, it was always < max allowed connections
- recipe from https://community.oracle.com/message/3701989

[2015-01-23 05:28] dnvriend commented on #9
Did adding the following setting when launching the JVM help, as suggested by (https://community.oracle.com/message/3701989) ?

[code]

[2015-01-23 13:35] bpg commented on #9
No, setting property `java.security.egd` did not help. I'm running this on Mac (as well as you, I assume)

[2015-01-23 14:05] bpg commented on #9
As I suspected, the problem is in `MERGE` statement when the data object stored in snapshot is quite big. I made some changes in unit tests to reproduce it, could you please take a look at  bpg/akka-persistence-jdbc@bfa643bf334957c4dc01895839ba5eabb8f0be2e ?
Thanks.

[2015-01-23 14:58] bpg commented on #9
Reverted usage of `MERGE`. Now akka-persistence-jdbc works seamlessly on my project!

[2015-01-27 00:05] mwkohout opened #12 "Using a Datasource to initialize akka-persistence-jdbc"
I've got an application that is switching over to Oracle Wallet based authentication-this means that it will no longer use username and passwords but will use certificates instead.

Without hacking akka-persistence-jdbc, how can I override the database the code uses?

FYI, I'm using akka(2.3.5) and akka-persistence-jdbc(1.08) via Groovy and spring.

[2015-01-27 02:15] dnvriend commented on #12
Hi

Thats a very good question :). Did not know of this authentication feature util now. AFAIK you can not with Oracle XE and scalikejdbc but maybe they both support it but i dont know how. did a Quick scan of the scalikejdbc site and searched Google. But if you do or feel up to it fork, alter the code and create a pull request So others can benefit.

regards

[2015-01-27 02:36] mwkohout commented on #12
I'll likely try to submit a nice change but until then for for others who have this issue, I was able to make it work by
1.  forcing the ScalikeExtension to initialize in my code, setting up the bad datasource:
      ScalikeExtension.get(system)
2.  And then override it with my own after:
     ConnectionPool.singleton(new DataSourceConnectionPool(jdbcDatsource))

Hopefully I can come up with an el

[2015-01-27 02:45] dnvriend commented on #9
Hi

Good find the merge statement! ☺ Makes you wonder why that is. I will look at the code later this week and 'merge' it...

regards

[2015-01-27 02:58] bpg commented on #9
Let me make a pull request to your repo.
I replaced `MERGE` with t-sql stored procedure call. Just need to update unit tests to make sure everything is OK, will be ready by tomorrow.

[2015-01-27 02:58] dnvriend commented on #9
also makes you wonder about performance.. When the insert fails its basically an extra call.. before the update (recover which is fine) thats why the merge Seemed such a nice solution

[2015-01-27 02:59] bpg commented on #9
SP addresses the performance concern as well

[2015-01-27 03:05] dnvriend commented on #9
thats true. darn its 04.00 o clock here gonna get some more sleep gotta go to work in 4 hours lol. Looking forward to your pr. Good luck!

[2015-01-27 05:59] dnvriend commented on #9
Fixed with release 1.1.0

[2015-01-27 05:59] #9 closed

[2015-02-14 15:13] haywood commented on #12
+1

[2015-02-18 12:11] bpg commented on #11
Pull request #15 fixes this issue and couple of other SQL Server -specific minors. Works fine in my environment.
I'm planning to make an additional improvement there, similar to #13 -- to convert INSERT-fail-UPDATE logic into a stored procedure.

[2015-03-06 16:04] cridmann commented on #12
+1, this would be a nice feature.  @mwkohout that should def seem to work in the interim - thanks

[2015-03-17 02:08] cridmann opened #16 "Build with scalikejdbc-2.2.4"
ScalikeJDBC's new version is not binary compatible with some of the methods used in this plugin:  https://github.com/scalikejdbc/scalikejdbc/issues/391

Bumping the dependency from 2.2.2 to 2.2.4 and rebuilding should resolve this issue.

Let me know if there are any problems with this - thanks!

[2015-03-17 17:38] dnvriend commented on #16
Will be in release 1.1.1

[2015-03-17 17:39] dnvriend commented on #12
Release 1.1.1 will have initial support for JNDI, please test it, for I don't use app servers anymore... Play apps, what can I say :-)

[2015-03-17 17:39] dnvriend commented on #8
Its (still) on my backlog...

[2015-03-17 17:54] #11 closed

[2015-03-19 02:27] cridmann commented on #12
I just tested this using wso2-app-server (tomcat) and it worked.  Thanks dennis!

[2015-03-20 07:39] dnvriend commented on #12
Thanks, no problem :-) Also thanks for testing!

[2015-03-20 07:39] #12 closed

[2015-03-21 11:27] dnvriend commented on #8
I've created an extension so you can serialize the PersistentRepr and Snapshot using your own custom serializer to the database. I've also made some assumptions about a JSON variant. Please look at v1.1.2 of the akka-persistence-jdbc plugin, v1.0.0 of the akka-persistence-serialization-json serializer and the akka-persistence-jdbc-play example applications on how to go about using it. Let me know

[2015-03-21 13:04] #16 closed

[2015-04-13 22:08] cridmann opened #17 "OutOfMemory error when recovering with a large number of snapshots"
Hello,

I was doing some performance testing, and 1 one of my persistent actors makes heavy use of snapshotting.  I'm getting an OutOfMemory error when I try to start up this persistent actor (at app startup time) and it tries to recover.  I am using Oracle, Akka 2.3.9, and akka-persistence-jdbc 1.1.1

I believe the problem code is:

[code]

Here is the JDBC call it tries to make:
[code]

It appea

[2015-04-14 15:46] dnvriend commented on #17
I released v1.1.3 that should do a better job handing snapshots and selecting one. I profiled the plugin and it should now do a better job. Could you please try whether or not you still have the out of memory problem?

[2015-04-15 02:17] cridmann commented on #17
Thanks for the quick turn-around!  I'll test it in the next few days once it gets in the right environment - stay tuned.

[2015-05-06 16:11] giampaolotrapasso opened #18 "SQL Error using sharding region and timeout"
I have a bunch of actors under a sharding region. They do persistence and snapshots. When an actor reaches an inactivity timeout it gets terminated. However when sharding region awakes it, I get an error like this:

    [error] 3157 [example-akka.actor.default-dispatcher-18] ERROR scalikejdbc.StatementExecutor$$anon$1 - SQL execution failed (Reason: Duplicate entry 'SnapshotActor-4-11' for key 'PR

[2015-05-06 19:53] dnvriend commented on #18
I have forked your project; thanks by the way, this is super! It seems that the id could not be determined correctly. I have changed changed the project a bit so I can test it quickly. I have created a pull request for you to merge, test and study. For inspiration, maybe you can take a look at this id extractor: [click] (https://github.com/dnvriend/spray-ba-sharding/blob/master/src/main/scala/com/

[2015-05-06 20:47] giampaolotrapasso commented on #18
Sorry for bugging you again, but I do not understand very well :)
I merged your PR and surely is written better than mine and it's more understandable, thanks. I will make mine something you used. However I need to understand this thing about persistence.

In your PR you have

    val idExtractor: ShardRegion.IdExtractor = {
      case (cmd: String, id: String) => ((id.hashCode % 10).toString, cmd

[2015-05-07 00:47] dnvriend commented on #18
#### Akka Cluster
Please read the [Akka Cluster Sharding Documentation](http://doc.akka.io/docs/akka/2.3.10/contrib/cluster-sharding.html#An_Example_in_Scala) that has an example how to create a `ShardRegion.IdExtractor ` and `ShardRegion.ShardResolver`. When I started out leaning Akka Cluster, trying out the samples and creating some of my own, I maybe have read the documentation every day for a

[2015-05-07 19:29] giampaolotrapasso commented on #18
Thanks a lot for your explanation. Now it's more clear what's going behind the scenes! Thank you so much.

[2015-05-07 19:29] #18 closed

[2015-06-21 20:31] t3hnar opened #22 "`persistenceId` misisng in JournalTypeConverter.unmarshal signature"
I'm using `persistenceId` to decide whether to use `binary` or `json` serialiser, however it is a bit problematic to deserialize with current `JournalTypeConverter.unmarshal` api.

[2015-06-22 04:25] dnvriend commented on #22
Hi,

 I have released v1.1.6 that has the following signature for the `JournalTypeConverter.unmarshal`; it breaks the serialization API but now you can determine which serializer to use based on the persistenceId that will be passed to the API.

[code]

Let me know what you think and have fun!

[2015-06-22 04:26] t3hnar commented on #22
Thx @dnvriend!

[2015-06-22 05:52] #22 closed

[2015-06-28 16:27] jvliwanag opened #23 "Why shouldn't we use this in production?"
Wondering why the disclaimer not to use this in production. I'll be working on a small Akka project that's not really high traffic. Since I already have an rdbms that will be serving the view part, I want to avoid putting up a separate cassandra instance.

[2015-06-28 17:12] dnvriend commented on #23
Hi,

The project has been created by me as a study project / necessity. I needed a plugin that is more stable than the default [LevelDB](http://doc.akka.io/docs/akka/2.3.11/scala/persistence.html#local-leveldb-journal) plugin, and I could only use a JDBC database on the project I was working on then, with no chance of introducing [Riak](http://basho.com/products/) / [akka-persistence-riak](https:/

[2015-07-24 16:13] mwkohout commented on #23
I use it in production in several applications for the last 9 months.

Each is only a small cluster(3 nodes), and only via akka cluster sharding(for better or worse cluster sharding requires the use of akka persistence) for a relatively small number of entries/entities.

So far, after an issue in cluster sharding was resolved (while we were still in development), it hasn't been a problem.

[2015-08-09 02:05] prettynatty opened #24 "Ability to use custom connection pool"
[We](https://github.com/actorapp/actor-platform) are using akka-persistence-jdbc as default akka persistence layer but also our app uses Slick with HikariCP for some business logic, so the app uses two pools at the same time. Would be useful to have an ability to make akka-persistence-jdbc to use external connection pool.
We can contribute it, and I am bringing the issue here to discuss how API sh

[2015-08-09 02:11] prettynatty commented on #24
Just found out that akka-persistence-jdbc supports JNDI. We'll test it out.

[2015-08-15 09:09] dnvriend commented on #24
This is a duplicate of issue #12 that already has been fixed by means of JNDI. Let me know if it works for you!

[2015-08-15 09:09] #24 closed

[2015-08-16 13:43] prettynatty opened #25 "duplicate key exceptions"
Sometimes I see lots of exceptions came from akka-persistence-jdbc:

[code]

After tons of such errors connection pool stucks:

[code]

I use akka 2.3.12, akka-persistence-jdbc 1.1.7 and PostgreSQL 9.4.0.

[2015-08-16 13:58] dnvriend commented on #25
Looks like you have the issue from #18 that revolves around akka cluster snapshotting. In regards to Postgres the akka-persistence-jdbc driver uses a 'poor mans upsert' that first tries to insert a record, and if fails, tries to update the record, which should be [this statement](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/main/scala/akka/persistence/jdbc/snapshot/Statements.

[2015-08-16 17:29] mwkohout commented on #25
Postgres supports upserts.
On Aug 16, 2015 8:58 AM, "Dennis Vriend" <notifications@github.com> wrote:

[2015-08-16 17:55] dnvriend commented on #25
Thanks for the information, It is true that postgres supports upserts but its only supported from postgres [v9.5.0 and up](https://wiki.postgresql.org/wiki/UPSERT), this case runs on v9.4.0, but that should not be a problem. A stored procedure could solve this and solving the extra roundtrip and bypassing scalikejdbc's error detection.

Thanks for Keep the ideas coming

[2015-09-04 11:01] dnvriend opened #26 "Compatibility with Akka 2.4.0-xx"
I am working on a rewrite of the plugin to support Akka 2.4.0-xx. The new API allows for some smarter queries to be made and I assume the plugin will have a better memory and performance profile, both are welcome :)

[2015-09-07 08:04] dnvriend commented on #26
Hi,

I have just released v1.2.0-RC2. It is an initial release of the JDBC plugin that works with Akka 2.4.0-RC2 and, because no obvious refactorings have been made, will be fully compatible with the latest 1.1.8 release configuration, database schema and serialization method.

Because akka-persistence has stabilized and there are really good strategies in the [akka 2.4.0 docs](http://doc.akka.io/

[2015-10-08 15:30] cleverdeveloper commented on #26
Is there a plan to support PersistenceQuery API?
http://doc.akka.io/docs/akka/snapshot/scala/persistence-query.html

[2015-10-08 17:41] dnvriend commented on #26
I'm afraid that there are no plans. But if you have some free time to spare, please contribute and create a pull request :)

[2015-10-19 13:29] prettynatty commented on #26
Perhaps it would be much easier to do it with slick as it can produce stream results.

[2015-10-19 13:33] cleverdeveloper commented on #26
There is an example on how such query could be implemented in Akka documentation: http://doc.akka.io/docs/akka/snapshot/scala/persistence-query.html#Query_plugins

[2016-01-17 19:25] #26 closed

[2016-01-17 19:25] #17 closed

[2016-01-17 19:25] #25 closed

[2016-01-17 19:25] #8 closed

[2016-01-28 07:01] prettynatty opened #29 "No more jndi support?"
In 1.x version there was an ability to share app connection pool with persistence module. Why it's gone in 2.x? Is there another way of sharing pool?

[2016-01-28 19:16] dnvriend commented on #29
Hi, v2.2.2 should have JNDI support. It basically does the same as your PR. Thanks btw. Have fun!

[2016-01-28 19:16] #29 closed

[2016-01-28 19:37] prettynatty commented on #29
Thank you!

[2016-02-02 18:10] orsonek opened #31 "Slick Extensions license"
A response I got from Typesafe, when asking for required license: "A few days ago we decided to make Slick Extensions Open Source". More info here: http://slick.typesafe.com/news/2016/02/01/slick-extensions-licensing-change.html

Regards

[2016-02-03 06:31] dnvriend commented on #31
Thanks, I will change/remove the commercial notice

[2016-02-03 06:31] #31 closed

[2016-02-21 18:22] elkorn opened #32 "Adding a `test-query` configuration parameter?"
Hi!

I'm using `akka-persistence-jdbc` with `postgres-9.1.901.jdbc4` (PostgreSQL 9.3.9, Ubuntu 14.04).

The problem I'm getting while trying to use Persistence Query with the read journal is `java.sql.SQLException: JDBC4 Connection.isValid() method not supported, connection test query must be configured`.

From http://engineering.covata.com/programming/2014/07/11/akka-persistence-sql/ and https://

[2016-02-22 19:27] dnvriend commented on #32
Hi. You can configure the following key:

`akka-persistence-jdbc.slick.db.connectionTestQuery="select 1"`

Maybe you should disable the `keepAliveConnection`, ie set it to `off` or `false`.

[2016-02-22 20:43] elkorn commented on #32
Thank you.

[2016-02-22 20:43] #32 closed

[2016-02-23 18:17] elkorn opened #33 "ClassCastException while replaying events"
It's me again. :)

This time I'm having an issue after storing some events in the DB and restarting the application, thus causing the actor to update its state with replayed events.

The startup seems to go well:

[code]

Then the problem appears:
[code]

The write actor:
[code]

The read actor:
[code]

And `application.conf`:

[code]

Am I still doing something wrong here?

[2016-02-23 19:47] dnvriend commented on #33
Strange. I have re-created your example in the demo project: https://github.com/dnvriend/demo-akka-persistence-jdbc/blob/master/src/main/scala/com/github/dnvriend/Counter.scala and don't have the problem. Maybe you could take a look? Do you use the latest version of the JDBC plugin? You should use v2.2.8. Launch postgres with `docker-compose up -d` and then launch the sample with `sbt "runMain com

[2016-02-24 17:52] elkorn commented on #33
I am also not getting the error with your code.
Investigating further...

[2016-02-24 20:40] dnvriend commented on #33
I think the problem lies with the dependencies. You only need akka v2.4.2. Also the akka-stream interface has changed, I think that explains the classcast exception. Just to be sure, please change the dependencies and do a clean in sbt. You will need the following as per [build.sbt](https://github.com/dnvriend/demo-akka-persistence-jdbc/blob/master/build.sbt) of the [demo](https://github.com/dnvri

[2016-02-25 17:23] elkorn commented on #33
You are correct. Thanks!

[2016-02-25 17:23] #33 closed

[2016-03-03 13:43] divijan opened #34 "Can't resolve com.typesafe.slick#slick-extensions_2.11;3.1.0"
This package, apparently, no longer is in Maven Central (http://search.maven.org/#search|ga|1|a%3A%22slick-extensions_2.11%22). The last mentioned version in slick documentation is 3.0.0

[2016-03-03 13:46] dnvriend commented on #34
Apparently they aren't.. Please add the following to your build.sbt and let me know if it helps:

[code]

[2016-03-03 15:14] divijan commented on #34
This helped, thanks. Will you update the README?

[2016-03-03 15:14] #34 closed

[2016-03-03 15:15] dnvriend commented on #34
Yes I will change the README. Thanks for reporting!

[2016-03-04 11:18] divijan opened #35 "akka-persistence-jdbc.tables.*.schemaName has no effect for postgres"
I used the following script:

[code]
and specified ```tables.{journal/deletedTo/snapshot}.schemaName = "akka_persistence_jdbc".```
In the log I got ```org.postgresql.util.PSQLException: ERROR: relation "deleted_to" does not exist```.
So I decided to use the literal config from README, which worked, then I changed the schemaName in application.conf to "akka_persistence_jdbc" again and it continued

[2016-03-04 16:05] dnvriend commented on #35
I have created a release v2.2.10 that fixes the issue. Due to a typo the schema name of the deleted_to and snapshot table were always None. The demo project now uses the custom `akka-persistence-jdbc` schema. You can review how to configure things to use a custom schema in the [demo project](https://github.com/dnvriend/demo-akka-persistence-jdbc). Thanks for reporting!

[2016-03-04 16:05] #35 closed

[2016-03-17 17:40] wwwiiilll opened #36 "Offset in ReadJournal eventsByTag query is actually sequenceNr"
The README mentions:

However what is actually used for the offset field of the EventEnvelope is the persistenceId's sequenceNr as it can be seen in the [ReadJournal implementation](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src%2Fmain%2Fscala%2Fakka%2Fpersistence%2Fjdbc%2Fquery%2Fjournal%2Fscaladsl%2FJdbcReadJournal.scala#L77):
[code]

Looks like either the documentation or the

[2016-03-17 18:51] dnvriend commented on #36
Thanks for creating the issue. You are absolutely correct, both the tests were missing, documentation partially correct and implementation plain wrong. All the query api results should be ordered by sequence number and where appropriate, the offset is inclusive so when the offset == 2, it should give event 2 and so on. Where a fromSeqNo and toSeqNo can be given, the behavior should be from 2 to 3

[2016-03-17 19:45] wwwiiilll commented on #36
Hmm, I don't think this would be the intended behavior either, at least for the `eventsByTag` query.
Here's an illustration of what I was be expecting from the README's description:

[code]

Sorting by creation time did give the correct order and offsetting, but the sequenceNr as offset prevented us from saving it to resume the stream afterwards. We were seeing this instead:

[code]

I could try w

[2016-03-17 19:56] dnvriend commented on #36
Ah, I (finally) understand the problem. Yes please alter the test and send a PR. I will look into the issue when I find the time.

[2016-03-17 20:50] wwwiiilll commented on #36
I'm working on the byTag tests.

Also, I have a solution in mind that I'd like to try for that, but I'd have to return to the previous creation time based implementation for the byTag, would that be ok?

Finally, should the offsets start at 0 or 1?
The first event could be returned with offset 0 as in "if you ask again with this offset, you'll start here, so resume at offset + 1".
Or it could be r

[2016-03-17 23:53] wwwiiilll commented on #36
Opened a PR with revised tests and the fixed implementation. Tests are all green on all DBs.

Also, I checked on the LevelDB query tests and the offset starts at 1, so for consistency I took the same approach.

[2016-03-18 03:04] #36 closed

[2016-03-18 03:05] dnvriend commented on #36
Thanks for your contribution. Looks fine by me. I have merged and created a new release.

[2016-03-23 10:48] vtajzich opened #38 "How to setup json converter"
Hi,

I tried to setup json converter

[code]

I also tried to move to root, no changed.

however it's being serialized to bytes still. Where should I put the configuration?

thanks.

[2016-03-23 11:52] dnvriend commented on #38
You should register the serializer in the path 'akka.actor.serializers' and then bind the class to the serializer by registering the FQCN to the name of the serializer in the path 'akka.actor.serialization-bindings'. Note however that, while the output of the serializer is JSON, the output of the serializer is a byte array and will be stored in the database as a byte-array. Please take a look at t

[2016-03-23 12:09] vtajzich commented on #38
thanks

[2016-03-23 12:09] #38 closed

[2016-04-10 13:47] vpavkin opened #39 "A question on eventsByTag behaviour"
Hello!
Actively using your plugin, thank you for it :)

I have a question regarding persistence-query realtime streams like `eventsByTag`. A system I develop has two separate applications for write-back and read-back and my intent is to make read-back poll the journal and fill the query-side database.
I'm stuck with `eventsByTag` replaying only existing events without supplying events that come la

[2016-04-10 15:24] dnvriend commented on #39
Hi,

The async-query API has been implemented quite naively. I must rewrite the async-query API so that the query will poll the journal and keep track of its offset. The basic idea behind the current implementation was to overcome the polling behavior of clients, but after consideration, this is not possible.

[2016-04-10 16:56] vpavkin commented on #39
I see. Thanks for detailed explanation :)

[2016-04-10 16:56] #39 closed

[2016-04-12 10:10] ktoso opened #41 "Provide a way to shut-down connections explicitly"
When running a simple app like:

[code]

a number of  times after each other (default configuration, postgresql), connections seem to linger around and it's relatively simple to get:

[code]
Would be good to provide a way to close connections cleanly once ActorSystem terminates (you can register actions to run when this happens)

[2016-04-12 12:02] ktoso opened #42 "Make it possible to have multiple instances of the plugin (configured differently)"
Currently the way config is obtained does not make use of the fallback and scoping mechanisms of Akka Persistence plugin configuration and makes it impossible to have 2 instances of the plugin, but configured differently (which I may want to do if I want to store sharding data in one table, but all other data in another)

[2016-04-12 12:03] ktoso commented on #42
I'll attempt to solve this, however it may end up being not backwards compatible.

For more info see: doc.akka.io/docs/akka/current/scala/persistence.html#Multiple_persistence_plugin_configurations

[2016-04-12 15:15] brycechesternewman commented on #42
👍 This is a very useful feature for us.

[2016-04-12 17:02] dnvriend commented on #41
Hi, I will look into the issue.

[2016-04-12 17:49] dnvriend commented on #41
Did you explicitly terminate the ActorSystem? When I execute the code above verbatim it doesn't close the ActorSystem and any connections will remain open. But when I terminate the ActorSystem no connections are there to the database. I changed the code a bit:

[code]

Please ignore the `system.registerOnTermination(SlickDatabase(system).close)` for now, I have a 2.2.17-SNAPSHOT that exposes Slick

[2016-04-12 21:45] ktoso commented on #41
Yeah I'm pretty sure I had system.terminate (as I was using it in the repl and quitting the app (usual `readLine + system.terminate` at the end of it). Perhaps I messed up something hm...

[2016-04-14 12:59] dnvriend commented on #41
I have released v2.2.17 that should address this issue. You should still explicitly terminate the ActorSystem though. It is also possible to explicitly terminate the HikariCP pool by calling `akka.persistence.jdbc.extension.SlickDatabase(system).close()`. Let me know if it works :)

[2016-04-14 13:04] ktoso commented on #41
Very cool, I'll have a look!

[2016-04-19 17:33] acjay opened #43 "Pluggable serialization proxy"
This is probably on your radar already, but in my great quest for JSON serialization (which I think I'm abandoning) I looked into using the brand new `varchar` stuff. While it looks like this does indeed decouple things at the storage layer from the choice of database-level representation, it seems that all the plumbing up until that point still expects a byte stream. So somehow, `PersistentRepr`

[2016-04-19 18:24] dnvriend commented on #43
You are correct that akka serialization uses the `Array[Byte]` interface. The varchar extension will take that Array[Byte] and convert it to a String just before saving the record. If you don't need this feature please close the ticket.

[2016-04-19 19:52] acjay commented on #43
My point is that there would be an unnecessary round trip conversion (or at least reinterpretation). So supposing [`trait SerializationProxy`](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/main/scala/akka/persistence/jdbc/serialization/SerializationProxy.scala#L38-L41) were parametric in the representation it serializes to, it seems like the DAOs could be made to deal with othe

[2016-04-19 19:52] #43 closed

[2016-04-25 18:53] prettynatty opened #44 "Leaking connections"
After migrating most of business-logic to the akka-persistence with akka-persistence-jdbc as a journal and snapshot-store plugin, application goes down because pool is running out of connections.

Postgres stat shows lots of long-running queries:
![](http://i.imgur.com/WLS4XBj.png)

But in fact it's connections not returned to the pool. When I run this queries manually I get result in ~ 1 millisec

[2016-04-25 19:07] prettynatty commented on #44
I also get a warning from slick:
[code]

[2016-04-25 19:18] dnvriend commented on #44
I'm kinda sick right now, but please try again with HikariCP 2.3.13 as it's the one Slick is compiled against. Maybe you are having an API/settings incompatibility.

[2016-04-25 19:19] dnvriend commented on #44
Please see the Build.scala from [slick](https://github.com/slick/slick/blob/master/project/Build.scala). To be exact, please try "com.zaxxer" % "HikariCP-java6" % "2.3.13".

[2016-04-25 19:22] dnvriend commented on #44
The version from akka-persistence-jdbc is using "com.zaxxer" % "HikariCP-java6" % "2.3.7", but if the devs are using the version numbers correctly (fingers crossed) 2.3.15 should be compatible.

[2016-04-25 19:49] prettynatty commented on #44
Get well soon!
I downgraded HikariCP to ` "com.zaxxer" % "HikariCP-java6" % "2.3.7"` but still see the same problem.

[2016-04-25 19:53] dnvriend commented on #44
Rats, when I'm feeling better I'll take a look.

[2016-04-25 20:58] prettynatty opened #45 "Use compiled queries"
Slick query compiler is very slow in comparsion with its compiled queries. Compiled queries usage gives >10x performance boost.
I'll do a pull request.

[2016-04-25 23:59] prettynatty commented on #44
May it happen because [I create `AsyncExecutor`](https://github.com/actorapp/actor-platform/blob/341f0f321a428fa1ba5a156fd7841a7a3a6d6cf3/actor-server/actor-persist/src/main/scala/im/actor/server/db/DbExtension.scala#L71), share datasource with `akka-persistence-jdbc`, then `SlickDatabase` creates its own `AsyncExecutor` too?

[2016-04-26 00:05] prettynatty commented on #44
Changed my code to reuse `SlickDatabase`'s db (and `AsyncExecutor` too), didn't help.

[2016-04-26 00:40] prettynatty commented on #44
To prevent queue overflow I created [a branch](https://github.com/prettynatty/akka-persistence-jdbc/tree/jndi-db) with an ability to share Database instance, not only Datasource (should I make a PR? It's useful to share AsyncExecutor and its settings).

No more queue errors but still all connections are busy for minutes.

[2016-04-26 07:19] #45 closed

[2016-04-27 01:42] referentiallytransparent opened #48 "Create a gitter channel"
Hey @dnvriend

Are you open to creating a gitter channel for this repository?
Would be super cool to see some collaboration there.

[2016-04-27 03:55] dnvriend commented on #48
Hey there! I have created a gitter channel.

[2016-04-27 03:55] #48 closed

[2016-04-27 12:01] referentiallytransparent commented on #48
Thanks a million!

[2016-04-29 20:04] #44 closed

[2016-04-30 09:43] #41 closed

[2016-05-12 20:26] gopalsaob opened #51 "Unable to differentiate between persistence failures and serialization issues"
In our application we use proto serializer for serializing domain events. What we have observed is the plugin/akka persistence invokes onPersistFailure() instead of onPersistRejected() for serialization issues. I believe this is because of the following code in SerializationProxy.serializeAtomicWrite()
    if (xs.exists(_.isFailure)) xs.filter(_.isFailure).head.asInstanceOf[Try[Iterable[Serializat

[2016-05-17 16:10] gopalsaob commented on #51
I have created a pull request for this issue #52

[2016-05-18 06:32] dnvriend commented on #51
Hi, thanks for your contribution! I'm kinda busy right now so contributions from the community is very much appreciated in helping the plugin getting better and better! I've merged the PR and will release it shortly. Thanks again!

[2016-05-18 06:32] #51 closed

[2016-05-25 05:36] dnvriend opened #53 "All async queries do not work as expected."
All async queries do not work as expected. I must refactor the async query api to do polling. Please only use the `current*` commands and do your own client-side polling strategy for now.

[2016-06-10 05:04] dnvriend commented on #42
@ktoso I will fix it with the next release

[2016-06-10 05:04] #42 closed

[2016-06-10 05:04] dnvriend commented on #53
I will fix it with the next release

[2016-06-10 05:04] #53 closed

[2016-06-16 13:18] acjay opened #55 "Efficient querying of many persistence IDs"
I'm trying to optimize the read side of a system where I'm expecting to have on the order of, say, 1000 journals active at any given time. I'd like to have <1s latency between the write and read side of my system. I've read the source a bit of the Persistence Query implementation here, and correct me if I'm wrong, but if I set the polling interval to 1s and I have 1000 `eventsByPersistenceId` `Sou

[2016-06-16 13:20] dnvriend commented on #55
Having 1000 queries running on the database doesn't seem a good idea. Maybe just create one query for all pids and broadcast the emitted pids to other actors?

[2016-06-16 13:42] acjay commented on #55
Well that was kind of my idea -- each of those other actors would hold a `eventsByPersistenceId`. But it seems like each of those sources would poll. I don't think there's a `allEvents` query, but if there were, I could have each actor bootstrap itself with `currentEventsByPersistenceId` and then have one centralized actor with an `allEvents` distribute the rest. But that feels fragile to me.

It

[2016-06-16 13:48] dnvriend commented on #55
For you non-functional requirements, <1s poll and ~1000 current events by pid on a single database and a single read journal the JDBC read journal is not a good solution. You could however store some pids on one database, and other pids on another database by overriding the `journalPluginId` of your persistent actor. You can then launch multiple jdbc-journal and multiple jdbc-read-journals, each p

[2016-06-16 13:51] dnvriend commented on #55
You can read about overriding the journal and snapshot plugin here: http://doc.akka.io/docs/akka/2.4.7/scala/persistence.html#Multiple_persistence_plugin_configurations

[2016-06-16 13:53] dnvriend commented on #55
This way you can even use a mix of storage technologies like Cassandra, Leveldb, JDBC for some pids. There are a lot of options to scale.

[2016-06-16 18:09] acjay commented on #55
Thanks for the advice. So the thing about my use case is immediacy is a strong desire, but event volume is quite low (at the very most 10 per second at bursts, and far lower normally). So the overwhelming majority of those polls would reveal nothing had changed.

I think the `DistributedPubSub` route may be the way to go for me, for now. I'm going to close, since I think the limitation is more wit

[2016-06-16 18:09] #55 closed

[2016-06-16 18:14] dnvriend commented on #55
The akka-persistence-query is still experimental and I am running into issues myself. There is currently no idiomatic approach. The only advice I have is, if you have Cassandra at your disposal, chances are a whole lot better that it will match your non-functional requirements, albeit I have never experimented with it under such a load. The jdbc plugin however could be used when you are a bit crea

[2016-06-17 00:51] acjay commented on #55
I'm a believer in the concept of "unless you have some kind of crazy functional need, just use Postgres. Otherwise, probably still use Postgres." :)

My use case isn't too exotic. I think it could probably be a simple library around Akka Persistence. I just get nervous about adding complex unfamiliar components to my setup unless it's a perfect fit. I already bit off about as much as I can chew go

[2016-07-25 15:36] jtysper opened #59 "Missing Oracle Support"
Hi,

after being back from vacation, I'd like to continue our discussion about Oracle support.
I originally encountered issues consuming events from read-journals.

After receiving eventsByTag the EventEnvelops don't contain the expected data.
The "offset" value of the last consumed event is stored and used for later queries but contains an invalid value. Somehow I still don't get around [JdbcRead

[2016-07-25 19:21] dnvriend commented on #59
Hi, welcome back. You have some very interesting questions, and one of them is the ordering/offset.

The old implementation just read events and numbered them with a zipWithIndex operation. There was no explicit ordering because the CREATED field is a timestamp and with a bulk-insert these events would all have the same value. Because of this, there was no ordering of events in the journal.

By ad

[2016-07-25 20:22] jtysper commented on #59
Hi Dennis,

thank you very much for the exhaustive explanation!
Please have a look at the eventsByTag method of OracleReadJournalDao.
I would be fine with using the absolute order as offset value. But your restricting the query to rownum instead.
In your above example the last offset would be 400 or 3 - depending on using the order or offset.
When you use the order, the query will drop the first 3

[2016-07-26 02:36] dnvriend commented on #59
Hi, as stated in the changelog (2.6.0), there is no support for Oracle (yet) as the implementation has changed and the Oracle implementation broke as a cause of that. The Oracle query(ies) are one part of the refactoring that should be updated. I took a (very) short look at Oracle 12 and that DB maybe has support for the SERIAL data type. Also there is a docker image for [Oracle 12C](https://hub.d

[2016-07-26 09:51] divijan opened #60 "Cryptic error message"
I've recently updated to 2.6.1 and I'm getting stack traces like this:
[code]
The code doesn't look right to me: you are matching a Seq against List patterns here https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/main/scala/akka/persistence/jdbc/util/TrySeq.scala#L22

[2016-07-26 12:15] dnvriend commented on #60
Ouch, that is not good. Strange the test is green though. I will look into it. Thanks for reporting!

[2016-07-26 13:42] divijan commented on #60
Could it be the problem on my part?

[2016-07-26 15:04] dnvriend commented on #60
I don't know how it could...

[2016-07-26 15:34] dnvriend commented on #60
I have released v2.6.2 that contains a refactored TrySeq. Please try it out and let me know!

[2016-07-26 20:10] divijan commented on #60
Wow, that was some heavy refactoring with akka streams. It works now, sweet! Thanks

[2016-07-26 20:10] #60 closed

[2016-07-26 23:39] dnvriend commented on #60
No problem 😀😀 .

[2016-07-27 16:11] jtysper commented on #59
Hi,

I tried a few things out.
What did the trick was that the sequence had to be reset after each test (which unfortunately isn't exactly elegant in Oracle, so I put it into a procedure).
The other thing was - as I mentioned - that the queryByTag had to compare against the order column and not the rownum.

Tomorrow I have to clean up some things and rebase with 2.6.3.

I also changed some other m

[2016-07-28 03:47] dnvriend commented on #59
Hi that is good news! I am looking forward to your PR 😀

[2016-07-28 18:00] mcveat opened #62 "Is migration from 2.2.x to 2.6.x possible?"
I have an existing journal in postgres created using 2.2.8 version and want to use the most recent version now. I've migrated code and database schema to reflect the changes but reading the journal silently fails, with my suspicion being deserialization of the message field. The same code and schema with empty journal works as expected, persists new events and properly reads them.

Is it possible

[2016-07-28 18:17] dnvriend commented on #62
Hi, that's a very good question. I have never upgraded a journal, so I wouldn't know what problems one would find and I am sorry I cannot be of more help on that subject. I can only assume that the migration went flawless; copying the message wasn't corruping the data and the code base used a data model that supports schema versioning eg. like protobuf; ie you didn't store Java serialized data and

[2016-07-28 20:31] dnvriend commented on #62
I have created a small project that stores 10 strings to the journal with v2.2.8, alters the database schema by just adding the `ordering` and `deleted` columns and tries to read the events with v2.6.3, it seems to work with the disclaimer that it only reads Java serialized strings from the journal. It seems to work though... Maybe you could take a look I have put it [here](https://github.com/dnvr

[2016-07-29 05:17] mcveat commented on #62
Thank you so much for your help! I've been serializing my events as single json string each, so I should be in the clear. I guess the issue with recovering from the journal lies somewhere else. Hopefully, I can find what it is with the example you've made. Thank you for that one too!

[2016-07-29 05:20] mcveat commented on #62
For the record, this is the schema migration I've been using

[code]

[2016-07-29 05:45] dnvriend commented on #62
I agree using JSON you should be in the clear (phew :)

To be forward/backward compatible I used the following statements, as you can see in the [alter-schema.sh](https://github.com/dnvriend/akka22to26/blob/master/alter-schema.sh) script:

[code]

When v2.2.8 is not important anymore, you can drop `deleted_to` and drop the `created` column. I found that having a `created_ts` column is very handy f

[2016-07-30 12:09] #59 closed

[2016-07-30 12:11] dnvriend commented on #59
I have reviewed the PR and it looks great! Thanks so very much for your contribution and making this community plugin even better! I have released a new version v2.6.4. Best regards and have fun!

[2016-08-01 14:21] mcveat commented on #62
Over the weekend I've gathered some more observations about the problem. Still not solved but maybe these findings will get us closer to its source.

First thing I've noticed that the migration script I've used is not correct for larger journals (mine has 1500 events). Adding column of a type `BIGSERIAL` to existing data applies values retrieved from sequence in the order of how rows are stored on

[2016-08-01 18:02] dnvriend commented on #62
I have tuned by jdbc-read-journal as follows:

[code]

I found the configuration above is good enough to build projections.

[2016-08-02 08:04] mcveat commented on #62
That was the missing piece, thank you!

[2016-08-02 08:04] #62 closed

[2016-08-04 13:27] devidatta45 opened #64 "Getting 'Table "journal" not found' error with H2"
I am new to akka-persistence and am trying to use H2 database for persistence. I referred the README and added the application.conf file as mentioned. But I am getting the error  when I try to start the application. Do I need to create the tables explicitly ? I saw the h2-schema.sql file, but where to actually keep it in the project ?

[code]

[2016-08-04 16:37] dnvriend commented on #64
Hi, it is necessary to have a schema when running the akka-persistence-jdbc plugin on any database like for example H2. The h2-schema.sql is available on the classpath of the akka-persistence-jdbc jar file or can be downloaded from [github using this link](https://raw.githubusercontent.com/dnvriend/akka-persistence-jdbc/master/src/main/resources/schema/h2/h2-schema.sql)

Depending on your use case

[2016-08-05 02:53] yadavan88 commented on #64
So, do we need to create the table manually before using it ? This is not for testing. Due to some issues, we are unable to use leveldb in a small device. So, thouht of trying with h2 and use the persist to disk of h2(should not be inmemory).

[2016-08-05 04:38] dnvriend commented on #64
The tables should be created before the akka-persistence-jdbc can persist data in it. Creating tables can be done manually using JDBC but I've read H2 can do that for you [on a new connection](http://www.h2database.com/html/features.html#execute_sql_on_connection). The [h2 DDL SQL script](https://raw.githubusercontent.com/dnvriend/akka-persistence-jdbc/master/src/main/resources/schema/h2/h2-schema

[2016-08-05 06:16] yadavan88 commented on #64
Thank you for the response. I shall try that out.

[2016-08-08 15:15] jvmakine opened #65 "Event adapters not applied on `eventsByTag`"
Hi! I'm migrating our database from Cassandra to Postgres, and with that, our connector to `akka-persistence-jdbc`. The problem I am having is that it seems that, unlike with the Cassandra connector, the event adapters are not being called when reading tagged events from `JdbcReadJournal`. My configuration is as follows (omitting the slick configuration):

[code]

The adapter is being called corre

[2016-08-08 18:32] dnvriend commented on #65
Hi, your configuration looks correct. AFAIK, event adapters are only applicable for persistence actors, they are for mapping the application domain messages on the data domain messages and vice versa. When querying the journal directly, you get an event envelope and you'll have to handle the data model directly. I have tried to create an image how it works:

![event-adapters](https://github.com/dn

[2016-08-09 08:30] jvmakine commented on #65
Thank you very much for the fast response and clarifying this. I'll refactor our code accordingly and close this issue.

[2016-08-09 08:30] #65 closed

[2016-08-15 10:36] filosganga commented on #65
@dnvriend The fact that you receive an EventEnvelope does not interfere with the event adaptation. If the query does not adapt events, it is completely useless as many migration logics are inside the EventAdapters.

FYI, The  Cassandra plugin and LevelDb plugin, that re the official ones, run the adapters also during the query.

But of course the decision is up to you.

[2016-08-15 13:38] dnvriend commented on #65
Hi, thanks for the heads-up. I'll take a look.

[2016-08-31 16:59] firehooper opened #68 "Reason for change from scalikejdbc to slick?"
Could you please explain the reasoning for switch from  scalikejdbc to slick earlier this year (searched, but could not find an explanation).

[2016-08-31 17:11] dnvriend commented on #68
Hi, very simple really. Slick is backed by Lightbend, formerly Typesafe. Slick allows for a pure functional way to access the database. Writing queries is a breeze with Slick as the DSL integrates with Scala, allowing you to write database access code much like working with Scala collections we know and love. Also, Slick is a more popular database access library than ScalikeJDBC and more important

[2016-09-01 17:55] firehooper commented on #68
Thanks

[2016-09-01 17:55] #68 closed

[2016-09-02 04:30] jroper opened #69 "Option to auto create tables"
It would be very convenient for users in development and testing (and perhaps even in production) if akka-persistence-jdbc offered the option to auto create tables if they don't exist.  akka-persistence-cassandra offers this for example:

https://github.com/akka/akka-persistence-cassandra/blob/master/src/main/resources/reference.conf#L52

Slick can automagically generate and execute database speci

[2016-09-02 21:47] monktastic opened #70 "Connection leak"
Howdy,

I'm getting the below stack trace:

[code]

I'm using Slick 3.1.1, HikariCP 2.4.7, akka 2.4.9, h2 1.4.192.

Any advice? I don't think I'm doing anything unusual, and I don't touch slick or HikariCP directly.

Thanks!

[2016-09-02 21:58] monktastic commented on #70
Ah, just noticed another issue where you suggest using HikariCP 2.3.13. Didn't work for them but maybe it will for us....

[2016-09-02 22:16] monktastic commented on #70
Did not fix it.

[2016-09-03 00:12] monktastic commented on #70
FYI I increased max connections and threads and the problem has not appeared for a while. Not sure if I just pushed it back. Let's see :)

[2016-09-03 05:58] dnvriend commented on #70
Hi, darn the "connection leak" problem is back. This problem seems to arise when the max number of connections and threads have been set to a low setting. We came across this same problem in [Issue #44 Leaking Connections](#44). @prettynatty had this same issue and increased the queue size to 10000 and that seems to work for him.

For my own projects, I set the values to:

[code]

which seems to w

[2016-09-03 06:00] dnvriend commented on #69
Hi! This seems like a good addition to the plugin. If you feel up to it, you could make the change and do a PR.

[2016-09-03 06:02] dnvriend commented on #64
@yadavan88 Is this still an issue? If not, could you please close it? Thanks!

[2016-09-03 13:09] yadavan88 commented on #64
This is not an issue now. @devidatta45 can you please close this request ?

[2016-09-07 02:39] jroper opened #71 "Snapshots table defines three primary keys"
The snapshots table defines three primary keys, which is illegal:

[code]

Essentially this is saying that the persistenceId column is the primary key, the sequenceNumber column is the primary key, and there is also a composite primary key of the two of them.  Here's an example schema that Slick will generate for this:

[code]

No database will execute this successfully since there are three prima

[2016-09-07 02:50] jroper commented on #69
I'm currently implementing this myself in Lagom, it probably won't be hard to move what I've got to here once I'm finished.

There are a few things to consider though, firstly you have to detect whether the tables are already created, this turns out to be a little harder than it sounds (if you get a list of tables, they may have a schema in them which could be the current schema, so you need to ha

[2016-09-07 02:52] jroper commented on #71
PR to fix in #72.

[2016-09-07 04:27] dnvriend commented on #71
Hi, this is true, but for the fact that this workaround is necessary to get the UPSERT functionality working with Slick see [Slick Issue #966 - Scala's Slick with multiple PK insertOrUpdate() throws exception ERROR: syntax error at end of input](https://github.com/slick/slick/issues/966), as it stands, we must wait for slick 3.2.0

[2016-09-07 04:55] jroper opened #73 "Journal table option usage incompatible with Slick DDL generation"
The DDL that slick generates for the journal table makes the tags field not null due to:

https://github.com/slick/slick/issues/1605

It seems that conventional Slick usage is to map nullable fields using `column[Option[String]](name)`, rather than `column[String](name).?`.

[2016-09-07 07:40] jroper commented on #71
Interesting.  Right now I have a work around that simply removes "PRIMARY KEY" from the DDL statement, so I'll keep that.

[2016-09-07 07:46] dnvriend commented on #71
Does this workaround break the UPSERT workaround?

[2016-09-07 12:46] jroper commented on #71
No, the work around is completely separate from Slick, it's just taking the raw DDL statement strings as returned by schema.createStatements and doing a String.replace on them before creating the tables.

[2016-09-07 13:28] #64 closed

[2016-09-07 15:34] #73 closed

[2016-09-19 17:10] datalchemist opened #76 "ReadJournalDao is tied to ByteArrayDao"
Hi,

I have some trouble to implement my own ReadJournal Dao. Indeed, this latter defines the method eventsByTag with a return type that references akka.persistence.jdbc.dao.bytea.journal.JournalTables.JournalRow....which is the byte-array-based default DAO implementation.
Hence, it is not possible to implement my own version based on different row type.

From what I understood by searching throug

[2016-09-21 04:15] dnvriend commented on #76
Hi, I understand the question. I did't foresee this albeit obvious :) I will look into refactoring it to only expose the Ordering value.

[2016-09-23 16:53] acjay commented on #62
I may have missed something, but it would be good if this were documented in the readme. I ran into the same issue of being surprised by the upgrade breaking my application in staging.

[2016-09-26 10:06] Fristi commented on #69
I also wanted this in a project. I am using single node with h2 (in mem atm) for testing. It seems the current schema will hang upon creation with the combo of h2 and slick

There are two problems
- Snapshot schema uses `O.AutoInc` on two columns and the combination slick + h2 seems to dislike that
- Journal uses `O.AutoInc` in conjunction with primary key which also causes to hang. Because `O.Aut

[2016-09-26 18:22] dnvriend commented on #69
@Fristi Thanks for the head up!

[2016-10-09 18:51] skisel opened #77 "OracleProfile, Blob issue"
Hi,

I'm working on proof of concept event sourcing application using Oracle as a database for now, and also akka-persistence-jdbc for journal and snapshot storage.

I have a problem persisting snapshots if they exceed 4Kb size.

I get the following:
Failed to saveSnapshot given metadata [SnapshotMetadata(view,74090,0)] due to: [java.sql.SQLException: ORA-01461: can bind a LONG value only for inse

[2016-10-09 20:45] skisel commented on #77
I've added the test case to illustrate the issue. It fails with the following message:

`assertion failed: expected:  but got unexpected message SaveSnapshotFailure(SnapshotMetadata(p-1,0,0),java.sql.SQLException: ORA-01461: can bind a LONG value only for insert into a LONG column
)
java.lang.AssertionError: assertion failed: expected:  but got unexpected message SaveSnapshotFailure(SnapshotMetada

[2016-10-09 20:55] skisel commented on #77
I found solution for the problem. I think its not allowed to use insertOrUpdate (in SnapshotQueries) for Oracle in slick if database row contains blob type. I will submit PR tomorrow.

[2016-10-31 08:41] manuelbernhardt opened #79 "Deleting journal messages won't work well over time"
A client's system was getting an increasing amount of timed out circuit breaker exceptions when it came to deleting past messages in one of the actors (once a snapshot had been created), even without any load on the system. It turned out that there were about 600000 soft-deleted messages in the database.

The [query to delete those messages](https://github.com/dnvriend/akka-persistence-jdbc/blob/m

[2016-11-02 06:07] dnvriend commented on #79
Hi Manuel, love your book :) I will put it on the bug list. I am thinking about a complete rewrite as Slick hasn't brought what I thought it would to the project. Also the design should change to support the akka-persistence-query responsibilities better.

[2016-11-02 20:04] naferx opened #80 "published artifact includes schema folder"
Hi @dnvriend
Currently, the published artifact is including the schema folder with the SQL scripts.

[2016-11-02 20:06] naferx commented on #80
![captura](https://cloud.githubusercontent.com/assets/11840846/19945389/e7966620-a10d-11e6-9fe3-5cb3025c29b3.PNG)

[2016-11-03 10:09] manuelbernhardt commented on #79
Thanks! Slick's licensing for oracle databases may also be a little problematic. I know it's a bit of a jungle out there when it comes to finding a good persistence library for Scala. For this case though where there are only two tables I'd think that [anorm](https://www.playframework.com/documentation/2.5.x/ScalaAnorm) might be a good fit, especially since it's got a few improvements recently and

[2016-11-03 17:40] dnvriend commented on #80
Thanks for the head up, removed in the next release.

[2016-11-03 17:40] #80 closed

[2016-11-03 17:42] #70 closed

[2016-11-03 17:42] dnvriend commented on #77
Thanks for all your efforts. This will be in the next release!

[2016-11-03 17:42] #77 closed

[2016-11-03 17:43] dnvriend commented on #79
The next release will filter those already deleted, let me know if it works!

[2016-11-04 01:21] naferx commented on #80
Thanks to you for maintaining this useful project ; )

[2016-11-04 05:26] stevemyers commented on #69
I used Slick to create my H2 akka-persistence-jdbc schema, I know it's not a full solution but works good for me as an interim solution.  See gist [here](https://gist.github.com/stevemyers/de1fe4db29555eaea83fa1df3d13a5af)

[2016-11-14 18:54] johanandren opened #81 "Support the new query APIs from Akka 2.4.12"
Akka 2.4.12 introduced a shared `akka.persistence.query.Offset` type to replace the previously used `long` offset and two new queries using that Offset type: `CurrentEventsByTagQuery2` and `EventsByTagQuery2` (the awkward naming is because we intend to remove the old interfaces in next major Akka version and replace with the new ones but cannot right away because of compatibility)

[2016-11-15 05:06] dnvriend commented on #81
Should be available in [akka-persistence-jdbc v2.6.8](https://dnvriend.github.io/akka-persistence/jdbc.html#2-6-8-2016-11-03-)

[2016-11-15 05:06] #81 closed

[2016-11-15 10:32] johanandren commented on #81
Ah, awesome, sorry, I should have checked before opening a ticket.

[2016-11-15 16:13] cap3fme opened #82 "eventsByTag returns events for wrong tag"
Hi everyone,

When looking for events with tag "User" with `currentEventsByTag`, this also returns events with tag "UserEmail". In my opinion only events with tag "User" should be returned. I currently experience the problem when using the default dao configuration and a postgres backend.

When searching for the cause of this problem I found that in `package akka.persistence.jdbc.dao.bytea.readjou

[2016-11-17 23:35] Sukesh-Alluri opened #83 "No freeable memory during bulk load operations using PostgreSQL plugin driver"
Hi,
We currently use akka-persistence-jdbc 2.2.24 with akka-persistence 2.4.7 versions in our persistence service which is based on event sourcing model with PostgreSQL 9.5.2 running on AWS with below specs:
[code]
On a typical load basis, we used to see nearly ~31 GB of memory left, but on bulk operations what we've seen is it reaches <2 GB, prompting to usually fast running queries to run slower

[2016-11-25 12:32] joseblas opened #84 "Migrate to Slick 3.2.0-M1"
Hi there,

 would be nice to migrate to Slick 3.2.0-M1. This is the first release within formerly known Extensions.
 I am working on that, so I'd like to share it with you once it's done and the tests are ok.

[2016-11-26 10:09] dnvriend commented on #84
Wow, that's great! Let me know your findings. I'm thinking about having multiple runtimes for the jdbc-plugin and slick could be one of them.

[2016-11-26 11:10] joseblas commented on #84
I will create a fork with my code.
I've never done a runtime before, if you could provide some doc/examples we can do it together.

[2016-11-28 09:43] joseblas commented on #84
Hi,
 I've just committed a pull request with my changes. Now we can work with that you mentioned about multiple runtimes.

[2016-11-28 16:03] dnvriend commented on #84
Thats great, I am kinda busy right now on a project, but I'll get back to you ASAP.

[2016-11-28 16:25] joseblas commented on #84
That's ok. I am happy to help.

Regards, Jose.

[2016-12-20 13:47] TimPigden opened #87 "2.12 support"
Hi, what's the situation of 2.12 support? Any timetable? Slick 3.2.0M2 now does it I see.
Apologies if this has been asked elsewhere but couldn't see anything

[2016-12-20 16:45] dnvriend commented on #87
No worries :). ETA, the release date of Slick 3.2 + the time necessary to get things working flawlessly with it.

[2016-12-21 18:10] dnvriend commented on #84
Thanks, I have taken your code and released a test version `2.6.12-3.2.0-M2`.

[2016-12-21 18:10] #84 closed

[2016-12-21 18:12] dnvriend commented on #87
I've released a test version `2.6.12-3.2.0-M2` only available on bintray so add a resolver to `resolvers += Resolver.jcenterRepo`. Its a version against a Milestone release of Slick 3.2.0-M2 for scala 2.11.8 and 2.12.1 only to tinker with.

[2016-12-21 18:15] dnvriend commented on #83
Thank you for your question but I really don't know how to answer this. My gut feeling says that you are ready for a more powerful database engine like Apache Cassandra in combination with [akka-persistence-cassandra] driver so you have a better way to handle the (varying) load.

[2016-12-21 18:18] dnvriend commented on #82
Hi, this is not a bug, but it is true that the `byTag` query should be changed, so it is more inline with the Cassandra tags.

[2017-01-12 07:17] TimMoore opened #89 "eventsByTag query should not include the event at the offset passed in"
We're using `akka-persistence-jdbc` to implement a resumable stream of events.

The workflow is:

1. Get an event stream for some tag using `eventsByTag(tag, NoOffset)`
2. Process each event in turn, and transactionally store its offset in an offset store (another database table with a row per tag)
3. When resuming the stream, retrieve the last processed offset from the offset store, and provide i

[2017-01-13 13:48] dnvriend commented on #89
Hi,

The eventsByTag has been implemented some time ago and I have a custom 'ResumableQuery' that persist its offset and does the +1 operation on the next query. But I want to understand the issue.

According to the [documentation](http://doc.akka.io/docs/akka/current/scala/persistence-query.html#EventsByTag_and_CurrentEventsByTag) the example shows the following:

[code]
The sentence "from the kn

[2017-01-16 00:10] TimMoore commented on #89
I agree that the documentation isn't clear, but I believe the intent is to exclude it. Your second example is what I expect. The documentation you quoted implies that `furtherBlueThings` would not overlap with `top10BlueThings`.

One thing I was hoping, with the new `Offset` type in Akka, is that clients could treat it opaquely: each event is paired with an offset, and you can past the last-proces

[2017-01-23 14:21] dnvriend commented on #89
I've done some [research](https://github.com/dnvriend/akka-persistence-query-test/blob/master/src/test/scala/com/github/dnvriend/query/EventsByTagTest2.scala) in my [experiment project for akka-persistence-query](https://github.com/dnvriend/akka-persistence-query-test) but it seems that both the inmemory, jdbc and leveldb journal treat the offset inclusive. Maybe I'm missing something.

[2017-01-23 21:10] TimMoore commented on #89
Thanks for looking into it @dnvriend. I got confirmation from @patriknw that the LevelDB implementation was a mistake (fixed now). See https://github.com/akka/akka/issues/22145 and https://github.com/akka/akka/pull/22146

[2017-01-24 06:54] dnvriend commented on #89
That is what I was missing :) I use the leveldb impl. as reference as there is no TCK for query. Thanks!

[2017-02-02 22:43] cwei-bgl commented on #65
@dnvriend I wish to have event adapters working with persistence query as well. It looks ugly to have these adapters in ReadJournal process. Thanks.

[2017-02-03 10:49] nsitbon opened #90 "overriding POSTGRES_HOST doesn't work"
Hi, setting the environment variable POSTGRES_HOST to modify the default postgres host "boot2docker" doesn't work forcing me to override the whole url.
Thx

[2017-02-03 14:07] dnvriend commented on #90
Hi, for normal operations you should configure `application.conf` and set the values. The variable you name is used by [travis.ci](https://travis-ci.org/) to build the project.

[2017-02-16 13:40] skisel commented on #79
Hi @dnvriend

It seems akka-persistence-jdbc still in the current master branch considers "deteled" in the ReadJournalQueries part. Am I missing something or it should filter them out?

[2017-02-16 17:56] dnvriend commented on #79
@skisel You are correct, the eventsByPersistenceId should filter out the deleted events which it doesn't.

[2017-02-24 14:04] skisel opened #91 "currentEventsByPersistenceId.EventEnvelope problem"
Hey,

I found a bug or confusion in currentEventsByPersistenceId query, which returns EventEnvelope and as ordering (`offset`) provides sequenceNumber which is very confusing.

JdbcReadJournal.scala:97

[2017-02-24 19:32] markschaake commented on #87
FYI, slick 3.2 was [released](http://slick.lightbend.com/news/2017/02/24/slick-3.2.0-released.html) today. Hopefully we can get a scala 2.12 release soon for `akka-persistence-jdbc`? FYI, I previously tested the above-mentioned `2.6.12-3.2.0-M2` release of `akka-persistence-jdbc` and had issues, so figured I'd wait until the official releases to upgrade to scala 2.12. I'll see if I can test out th

[2017-02-24 20:13] dnvriend commented on #87
I have released 2.4.17.1 that should support Slick 3.2.0, Scala 2.11.8 and 2.12.1.

[2017-02-25 00:15] markschaake commented on #87
@dnvriend I've just tried upgrading to both Slick `3.2.0` and `akka-persistece-jdbc` `2.4.17.1` and hit the same issue I hit when I previously tried to upgrade to the `M2` versions. Looks like I'm hitting [this failed requirement](https://github.com/slick/slick/blob/f14199dc1f6b3f415a4233ce336fc63a0d812caf/slick/src/main/scala/slick/util/ManagedArrayBlockingQueue.scala#L40)

Any ideas off the top

[2017-02-25 02:50] dnvriend commented on #87
Some questions:
1. Does the journal contain old events?
2. Which serializer do you use when serializing / deserializing events to the journal ie JavaSerializer, Protobuf, Kryo, AVRO
3. Does the project work when using scala 2.11.8
4 can you create a small project eg on github using your settings and reproduce the error?

[2017-02-25 03:44] markschaake commented on #87
Hi @dnvriend . Answers follow:

1. The journal does contain old events

2. I use Thrift for serialization of journal events

3. The project works with scala `2.11.8` - but using `akka-persistence-jdbc` version `2.6.12`. I've unsuccessfully tried briefly to get `2.4.17.1` to work on `2.11.8`. It seems the changes with Slick's driver/profile are confusing me too much.

4. If I have time I'll try to

[2017-02-25 06:59] dnvriend commented on #87
@markschaake Have you tried setting the value of maxConnections like in my [postgres-application.conf](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/test/resources/postgres-application.conf) but then increasing the settings to:

- numThreads = 20
- maxConnections = 100
- minConnections = 20

It sounds like [slick issue #1461](https://github.com/slick/slick/pull/1461), [slick is

[2017-02-25 14:02] markschaake commented on #87
@dnvriend thanks, I had found those issues as well and was trying out different settings. With the settings you suggest, I no longer get the `java.lang.IllegalArgumentException: requirement failed: count cannot be increased`, but I still get the circuit breaker timeout error:

`ERROR schaake.flex.actor.CreditActor akka://flex/user/$a/credits/$c - Persistence failure when replaying events for persi

[2017-02-25 14:17] markschaake commented on #87
I think I was right about there being a bug in the journal that requires at least one event to reply per persisted actor. I tested this theory by creating events for all actors in my `2.11.8` branch and then switching back to my `2.12.1` branch. I no longer see the `Persistence failure when replaying events... Last known sequence number [0]...` anymore. However, that could be a red herring as now

[2017-03-07 04:48] sarahgerweck opened #92 "Request: change artifact name or re-increase version"
It seems that you recently reduced the version number of the latest version of this library from 2.6.12 to 2.4.17.x. It's rather undesirable to have a version number decrease, because it now means that all your users will get notices for the foreseeable future saying that their version is out of date. I'm having to put a comment in our build-management system saying "2.4 is actually newer than 2.6

[2017-03-07 21:54] dnvriend commented on #92
Hi Sarah. Thank you for the information and your suggestion. It gives food for thought and needs to sink in. I will park the issue for now, but will take it into consideration.

[2017-03-07 22:07] sarahgerweck commented on #92
Thanks @dnvriend. 😄

[2017-03-16 12:00] svenwiegand opened #93 "ReadJournalDao directly wired to JournalRow"
At first: Thanks for that great persistence solution.

I like the possibility to provide custom DAO implementations. But there is one weak point in the `ReadJournalDao`: The `eventsByTag` is expected to return a `JournalRow`:

[code]

This makes it _nearly_ impossible to provide an own `ReadJournalDao` implementation based on something else but the `JournalRow`.

[2017-03-17 20:33] ygree opened #95 "Any deserialization errors will silently stop eventSource"
`akka.persistence.jdbc.query.scaladsl.JdbcReadJournal#currentEventsByTag` uses default strategy and if there is a deserialization error it stops the stream.

The problem is that such issues stay unnoticed and it's impossible to override default strategy because `akka.persistence.jdbc.query.scaladsl.JdbcReadJournal#eventsByTag` runs `currentEventsByTag` internally for each `readJournalConfig.maxBuf

[2017-03-18 06:40] svenwiegand commented on #79
My addition to @manuelbernhardt's message regarding persistence libraries: Totally agree that anorm is an easy to use choice. I've used it in some small sized projects and would choose it again everytime, because it gives full SQL control and provides easy statement building and result parsing. Only drawback in multi database scenarios might be, that you are writing native SQL and so need to targe

[2017-03-24 17:23] markschaake commented on #87
I've finally got `akka-persistence-jdbc` working with slick `3.2.0`. Turns out was a copy/paste error combined with muted logging. The [`docker` database in the example postgres config](https://github.com/dnvriend/akka-persistence-jdbc/blob/4565ead80e228c61be8e9385b2252d74701277a6/src/test/resources/postgres-application.conf#L57) file snuck into my config for my `jdbc-journal`, but I didn't see th

[2017-03-25 12:29] #87 closed

[2017-03-25 12:29] #23 closed

[2017-04-06 20:48] rrodseth commented on #89
I've been tearing my hair out over this as well. Also added 1 to the offset persisted in the resumable projection actor.
I then reverted to offset+0 in order to get a unit test passing, resulting in duplicates again (after a restart of the app). Any chance the in-memory and jdbc versions treat this differently?

[2017-04-07 00:24] TimMoore commented on #89
@rrodseth looks like in-memory was changed in 2.1.16.0 to exclude the passed offset: https://github.com/dnvriend/akka-persistence-inmemory#24160-2017-01-29

[2017-04-07 00:54] rrodseth commented on #89
Thank you! That might explain a lot, except I'm back on 1.2.12 (old version scheme). I'll poke around some more and try different versions. Would love to avoid separate code for tests and actual.

[2017-04-07 07:46] WellingR opened #96 "eventsByTag may sometimes skip some events when more than 1 database thread is used"
This issue occurred on version 2.4.17.1

In an actor system where several actors concurrently persist events with the same tag. The following issue may occur whenever multiple database threads are used:

Suppose that two database threads are concurrently writing an event. Thread 1 writes event A and thread 2 writes event B. Events A and B are written by different persistent actors, but they both h

[2017-04-07 10:45] mboogerd commented on #96
**Possible solution sketch**: Use a driver-controlled version-vector instead of a database-controlled sequence.

**Rationale**: The trouble is that the global sequence contains gaps with two undistinguishable causes.
- _Natural gaps_: A query by tag naturally introduces gaps because it filters out every event not matching the tag.
- _Bad gaps_: Accesses to the database-sequence occurring between t

[2017-04-07 11:03] dnvriend commented on #96
@mboogerd I was kinda hoping that the serialization properties of the postgres database would do the job. I'm kinda baffled that the solution misses events.

[2017-04-07 11:33] mboogerd commented on #96
@dnvriend I am not sure if I get you right when you say "the issue must be proven", but the problem is not the serialization features of postgres, it is their implementation of sequence. The notes section in [postgres sequence documentation](https://www.postgresql.org/docs/9.6/static/sql-createsequence.html) should suffice as a proof for that.

[2017-04-07 12:00] dnvriend commented on #96
@mboogerd Do I understand correctly, the sequence generator, assuming a cache size of one, will issue numbers to sessions sequentially, but the process of issuing vs the write is not atomic? So the sequence generator issues value '1' to session 'S1', but the db doesn't write this number directly to the table before issuing another number '2'  to another session 'S2', afterwards 'S2' could be writt

[2017-04-07 14:20] mboogerd commented on #96
@dnvriend Yep, that's how I believe it works from the documentation. Credits to @WellingR though, for a thorough investigation of the issue, which was lead us to these findings.

[2017-04-09 11:47] dnvriend commented on #96
@WellingR @mboogerd please check branch [OrderingSequenceAsService](https://github.com/dnvriend/akka-persistence-jdbc/tree/OrderingSequenceAsService), maybe this quickfix will solve the issue you have now.

[2017-04-10 07:54] WellingR commented on #96
@dnvriend I did a test, however the issue still occurs.

If I have some time this week (no guarantees) I will see if I can create a test to reproduce this issue. It should not be too hard.

I think it should be possible to reproduce as follows:
* Confiture the system such that number of db threads should be 4 (I used this number when I reproduced the issue)
* To make the issue appear more frequent

[2017-04-21 10:23] tcak76 opened #98 "Failed to persist event type [..] with sequence number [1]"
Hi,
I upgraded my project from
    Akka : 2.4.2 -> 2.4.17
    Slick : 3.1.1 -> 3.2.0
   akka-persistence-jdbc : 2.2.8 -> 2.4.17.1

Now I have problem, akka persistence persistAsync failed with **Failed to persist event type [..] with sequence number [1]** after 10 sec. I check that snapshot queries ran but persist not occurred.

Do you have any idea about my issue?  Which layer akka or slick or pe

[2017-04-21 14:33] dnvriend commented on #98
Hi, if you create a small test project that has the same problem then I could take a look at the problem. For now, please review all the configuration items and ensure they are configured correctly.

[2017-04-21 16:22] tcak76 commented on #98
Hi,

Thank you for your interest.  I tried to solve my problem all the day and now I can run akka persistence with my configuration. But it is not a solution. It ran when debuging.

I fork this project and add below lines for debuging to the BaseByteArrayJournalDao class and now persistence working well.

 override def writeFlow: Flow[AtomicWrite, Try[Unit], NotUsed] = {
    Flow[AtomicWrite]

[2017-04-24 07:54] Alnaimi- commented on #65
@dnvriend Any updates on this?, thanks :)

[2017-04-24 11:57] dnvriend commented on #65
@Alnaimi- no eta on this feature, but its on the backlog.

[2017-04-27 07:44] Elqul opened #99 "Persistence failure"
hello,
i am a newbie to akka and scala programming  :) , anyway, in one of my projects i am getting this error
`Persistence failure when replaying events for persistenceId [Dialog_419352970_1_1969176997]. Last known sequence number [0]
akka.pattern.CircuitBreakerOpenException: Circuit Breaker is open; calls are failing fast `

what is how can this be fixed ?

[2017-05-01 05:37] dnvriend commented on #99
Hi, no problem, glad to receive a new programmer into the reactive community so welcome! The error message isn't much to go on, but what it does tell us is that the circuit breaker is tripping and this could be because of many problems. If you edit or add a logback.xml file to your src/main/resources folder and put the contents of the following [logback.xml](https://github.com/dnvriend/akka-persis

[2017-05-01 05:39] dnvriend commented on #98
Hi, that is strange. The println will force some synchronization to occur with IO, but I couln't imagine why this would work. Maybe remove the println and then ask sbt to do a ;clean;compile ?

[2017-05-03 08:03] krivachy opened #100 "Release of 2.4.17.2"
Can v2.4.17.2 be released soon? It contains the fix for Slick deadlocks that we would need.

[2017-05-03 14:08] dnvriend commented on #100
Hi, I just released v2.4.18.0, and this contains the deadlock configuration. v2.4.17.2 is skipped.

[2017-05-04 08:27] #100 closed

[2017-05-04 16:51] dnvriend commented on #99
I've created a small test project called [akka-persistence-jdbc-test](https://github.com/dnvriend/akka-persistence-jdbc-test), It works and does eventing and snapshotting, maybe you can take a look and see what the difference are.

[2017-05-04 16:51] dnvriend commented on #98
I've created a small test project called [akka-persistence-jdbc-test](https://github.com/dnvriend/akka-persistence-jdbc-test), It works and does eventing and snapshotting, maybe you can take a look and see what the difference are.

[2017-05-04 16:52] #83 closed

[2017-05-11 06:41] cwei-bgl opened #101 "Multiple DB connection pools initialized"
Hi,

Thanks for the library. I am currently profiling my application. I noticed there was a strange behaviour with akka-peristence-jdbc. I am using HikariDataSource. The library is trying to create new DB pool in following cases:
1. JdbcReadJournal will have a new DB pool. I checked the source code in akka.persistence.jdbc.query.scaladsl.JdbcReadJournal
2. A persistent actor will create two DB poo

[2017-05-11 06:45] dnvriend commented on #101
Hi, thanks for the info! I got to look into that. Its put on the backlog.

[2017-05-11 06:50] dnvriend opened #102 "Support for MS-SQL-server"

[2017-05-11 06:52] cwei-bgl commented on #101
@dnvriend , Thanks Dennis. I wish this one can be a high priority, It consumes a lot of resources. Thanks.

[2017-05-11 08:12] dnvriend commented on #101
@cwei-bgl The connector creates a new db pool per plugin. This is by design. With 'plugin' I mean: 'jdbc-journal', 'jdbc-snapshot-store', 'jdbc-read-journal'. The plugins only do this when enabled of course so eg. when you set in 'application.conf' the following

[code]

This will cause two plugins to be started called 'jdbc-journal' and 'jdbc-snapshot-store' and you will have two db-connection po

[2017-05-12 01:23] cwei-bgl commented on #101
@dnvriend , Appreciate your prompt reply, Dennis. Thanks for the detailed explanation. That makes sense. I now see the reason that I had four pools was that I used all the three plugins plus app itself using a DB pool. By the way, It looks to me that configuring jdbc-journal and jdbc-snapshot-store to be single threaded connection pool is valid for most normal use cases. As they are operating on a

[2017-05-12 05:16] dnvriend commented on #101
@cwei-bgl You should measure the performance and tweak the plugin and your Timeouts as per NFR and SLA requirements for the environment you are running your solution in. But IMHO its a good place to start, and only ramp up the resources when you need to. With reactive applications you have several knobs to turn, but its good to start with a few threads and a few JDBC connections  and go from there

[2017-05-12 05:19] cwei-bgl commented on #101
@dnvriend Thanks Dennis. close for now.

[2017-05-12 05:19] #101 closed

[2017-06-06 22:59] rcavalcanti commented on #96
Just for information, this other akka-persistence plugin have solved that issue using an extra column `rowid`. (see https://github.com/WegenenVerkeer/akka-persistence-postgresql#rowidupdatingstrategy)

The basic idea is that an extra column (`row_id`) is initially set to null and the query is based on it. As long as the event has a null row id it won't get delivered by the query.

At the same time

[2017-06-07 04:08] dnvriend commented on #96
Hi Renato. Thanks for the suggestion and it is an interesting strategy. This problem needs further investigation into possible solution strategies and the pro/cons of each. If you have more ideas, keep them coming :)

[2017-06-09 16:41] ahogenboom opened #106 "JdbcReadJournal in javadsl does not support CurrentEventsByTagQuery2 and EventsByTagQuery2"
`CurrentEventsByTagQuery` and `EventsByTagQuery` are deprecated, so it is recommended to switch to `CurrentEventsByTagQuery2` and `EventsByTagQuery2` until Akka 2.5.0 renames the latter two to the former two.

There is support for `CurrentEventsByTagQuery2` and `EventsByTagQuery2` in `akka.persistence.jdbc.query.scaladsl.JdbcReadJournal`, but this is not the case for `akka.persistence.jdbc.query.j

[2017-06-09 19:35] dnvriend commented on #106
You're absolutely right. I just released 2.4.18.2, that should include the missing Java API.

[2017-06-10 01:01] ahogenboom commented on #106
Great, thank you so much for the quick update and release! Works like a charm now =)

[2017-06-10 05:09] #106 closed

[2017-06-10 18:43] WellingR commented on #96
I created a test which is able to reproduce this issue for Postgres and MySql. The issue also occurred for Oracle in one test run, however most of the time the tests runs fine for Oracle.

https://github.com/WellingR/akka-persistence-jdbc/commit/972efb08bca3b6d13f0827540f906647abade282

I have an idea for a potential solution for this problem, which I will try to implement and test in the next cou

[2017-06-11 14:55] WellingR commented on #96
I have a solution which makes the test pass. See https://github.com/dnvriend/akka-persistence-jdbc/compare/master...WellingR:eventByTag-bug for details.

The idea is a simple change to the eventsByTag stream. Every "tick" a currentEventsByTag query is used to retrieve the next batch of elements. However instead of returning these directly. We record the max ordering and return only those elements

[2017-06-12 05:56] dnvriend commented on #96
@WellingR Thanks! This is another interesting suggestion. Just like with @rcavalcanti suggestion, lets collect some strategies first and then determine the pro/cons of each. If you have more suggestions, white papers about the subject (for me/others) to read and so on, keep them coming!

[2017-06-12 10:35] ahogenboom opened #107 "CurrentEventsByTag treats offset as inclusive instead of exclusive"
According to the Akka persistence documentation/API specification, the offset specified in the `currentEventsByTag` method should be excluded from the result. However, `akka-persistence-jdbc` treats the offset as inclusive. Conversely, `akka-persistence-inmemory` that I use for testing correctly interprets the offset as exclusive, so this makes my tests inconsistent with production.

It seems like

[2017-06-12 19:56] WellingR commented on #96
The akka-persistence plugin for casssandra: https://github.com/akka/akka-persistence-cassandra/blob/master/core/src/main/scala/akka/persistence/cassandra/query/EventsByTagPublisher.scala seems to use a mechanism where they allow a (configurable) delay before messages are published. (the offset for that plugin is time-based though). However a similar mechanism would also be doable for us: when we o

[2017-06-13 19:57] naferx commented on #102
I would like to contribute with this

[2017-06-14 05:00] dnvriend commented on #102
Any PR is welcome. There is a [mssql-server-linux](https://hub.docker.com/r/microsoft/mssql-server-linux/) docker image available.

[2017-06-14 10:03] ahogenboom commented on #107
See also dnvriend/akka-persistence-jdbc#89 and akka/akka/pull/22146. The quick and dirty fix to me seems to be to increase `Offset.value` with 1 when converting an `Offset` to a `Long`.

[2017-06-14 23:07] naferx commented on #102
I'll be pushing commits progressively

[2017-08-13 22:34] TJSomething commented on #89
The workaround that I used was to use `dropWhile` to drop envelopes that matched the initial offset passed. This is a no-op for queries that used the old behavior and fix queries that use the current behavior.

[2017-08-22 19:07] #96 closed

[2017-08-23 15:17] frederic-gendebien opened #116 "Cannot use H2"
GIVEN a project which I just want to use H2 for
WHEN I copy the the content of the configuration you give as an example "h2-application.conf" into my application.conf
THEN I have this issue:
...
Caused by: java.lang.RuntimeException: Failed to load class of driverClassName org.postgresql.Driver
	at com.zaxxer.hikari.HikariConfig.setDriverClassName(HikariConfig.java:323)
	at slick.jdbc.hikaricp.Hik

[2017-08-23 17:59] WellingR commented on #116
It is hard to help you without seeing your actual config. There are several things you should note:

- First of all make sure there is absolutely no reference to 'org.postgresql.Driver' in your code.
- If some configuration values are missing then the reference.conf file from akka-persistence-jdbc will be used. Which uses the postgres driver by default.

Anyhow I am pretty sure there is still some

[2017-08-24 06:32] frederic-gendebien commented on #116
Thanks for your answer!

In my code I have no reference to postgresql, and here is the configuration:

akka {
  loglevel = "DEBUG"

  actor {
    serialize-messages = off
    serialize-creators = off

    serializers {
...
    }

    serialization-bindings {
...
   }
  }

  persistence {
    journal {
      plugin = "jdbc-journal"
      auto-start-journals = ["jdbc-journal"]
    }

    snapshot-st

[2017-08-24 06:54] frederic-gendebien commented on #116
ok... My bad, wrong hierarchy

[2017-08-24 06:54] #116 closed

[2017-08-24 17:58] #89 closed

[2017-08-24 17:58] #107 closed

[2017-08-24 18:09] WellingR commented on #99
Closing this issue, since the reporter has not responded since almost 5 months (feel free to re-open if there still is a problem)

[2017-08-24 18:09] #99 closed

[2017-08-24 18:14] WellingR commented on #91
An EventEnvelope has the following signature: (as of akka 2.5)

[code]

The offset is used for the eventsByTag queries, it can be ignored when using the currentEventsByPersistenceId query.

The sequenceNr is the sequence number of the message with the given persistenceId. Which can be used if you would want to execute the currentEventsByPersistenceId query again.

[2017-08-24 18:17] WellingR commented on #82
I actually do consider this a bug. We use a like query, which could actually return tags which we actually did not want.

A workaround is to ensure that no tag names are substrings of other tags.

A solution could be implemented where the tags are parsed, and filtered in the resulting stream.

[2017-08-24 18:18] WellingR commented on #92
In the next release two versions will be released: 3.0.0 for akka 2.5, and 2.7.0 for akka 2.4

[2017-08-26 07:43] WellingR commented on #91
Closing this issue, if you have any more questions feel free to re-open

[2017-08-30 06:12] WellingR commented on #92
Yesterday the versions 3.0.0 for akka 2.5, and 2.7.0 for akka 2.4 have been released. Therefore this issue has been resolved

[2017-08-30 06:12] #92 closed

[2017-08-30 06:18] WellingR commented on #90
@nsitbon the `POSTGRES_HOST` variable is in our example config to be able to override it on travis.

Does your `application.conf` file include the following section?

[code]

If so, then you should be able to override the environment variable. However this will only work if the part `host = ${?POSTGRES_HOST}` is included in your `application.conf` file in the correct place.

[2017-08-30 06:19] WellingR commented on #90
Closing this issue since the reporter asked no further questions after the response from dnvriend.
@nsitbon if you have any further questions, feel free to reopen this issue

[2017-08-30 06:19] #90 closed

[2017-09-13 21:10] skisel opened #123 "Configurable timeout for currentJournalEventsByTag"
We've migrated to the latest version of akka-persistence-jdbc (3.0.0), but currently our dev database is slow for some reason and I see that we're getting a lot of timeouts for the call currentJournalEventsByTag method.

I see in the code it is hardcoded to 100ms:

`import akka.pattern.ask
    implicit val askTimeout = Timeout(100.millis)
    Source.fromFuture(orderingActor.ask(GetMaxOrderingId).m

[2017-09-20 12:38] rcavalcanti opened #124 "CurrentEventsByTag potentially broken"
`currentEventsByTag` is supposed to return a finite `Source` that starts from passed `Offset` up to last known event. When it finishes, it finishes and new events are not delivered. It's possible that such a query returns an empty `Source`.

It relies on the `JournalSequenceActor` to determine what is the max known ordering, but just after starting, that actor considers that the max ordering is 0.

[2017-09-20 12:41] rcavalcanti commented on #124
Hi @WellingR, can we you have a look on this one?

I believe we need to have `JournalSequenceActor` stabilising on startup before answering to any calls from outside.

Once it knows what is the max ordering, it can start answering and keep tracking of gaps.

[2017-09-20 12:45] renatocaval opened #125 "delaySource created with inverted arguments"
At [this line](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/main/scala/akka/persistence/jdbc/query/scaladsl/JdbcReadJournal.scala#L84) we see the definition of `delaySource`:

[code]
This should be:
[code]

[2017-09-20 13:23] rcavalcanti opened #126 "Max ordering can jump back to a previous value"
In `JournalSequenceActor` we have two competing queries to determine the max ordering.

When `QueryOrderingIds` takes time to stabilise, the value retrieved by `ScheduleAssumeMaxOrderingId` will become the new `currentMaxOrdering`.

The following scenario may occur:
1) `currentMaxOrdering = 50`, `QueryOrderingIds` fetches orderings starting from 50
2) `ScheduleAssumeMaxOrderingId` updates `current

[2017-09-20 14:00] WellingR commented on #124
I will have a look at this the coming weekend

[2017-09-21 13:12] rcavalcanti commented on #124
I have been thinking on a solution for that and I got stuck with the following.

## Scenario 1 - single node, single writer
When the plugin starts, it could first try to stabilise on the max ordering before becoming really available. That would solve the issue with `currentEventsByTag`.

Once we stabilise, we start polling `QueryOrderingIds`. The purpose of the polling would be to detect gaps one

[2017-09-21 13:19] rcavalcanti commented on #124
## Possible solution:

We could introduce a backtracking value.

On startup, we determine the `maxOrdering` like explained before,
then
[code]

We start the polling with `QueryOrderingIds` using `startMaxOrdering`. This will give recently joining node the chance to detect gaps.

The question is, what shall the default value be? 100, 1000, 10000? It all depends on the real load.

[2017-09-22 15:11] WellingR commented on #125
Actually the method signature reads

[code]

Since we use `take(1)` we only use the initial delay, and ignore the interval. However I have been confused about this too a while ago. Feel free to submit a PR where both the intialDelay and the interval use the same value `readJournalConfig.refreshInterval`

[2017-09-22 15:42] WellingR commented on #124
Currently the journal sequence actor is started lazily, for the reason that the actor should not query the database continuously if the (current)EventsByTag query is never used at all.

This should actually mean that on startup, the eventsByTag query could indeed return an empty source, because the journal sequence actor was not completely ready yet.

You state a potential issue in scenario 2

Act

[2017-09-22 15:58] WellingR commented on #123
I agree that it should be possible to customize it.

However it does surprise me that timeouts occur here, since the orderingActor should always respond immediately with the last known value.

[2017-09-22 20:02] rcavalcanti commented on #124
I don't think this is a good idea. Consumption of events is a very common use case in event sourced application. Most of the times applications start to consume events as soon as they start. The sooner we get it "stabilized" the better.

The problem I described in scenario 2:T2 won't happen with the current impl, that's true, but my previous point was that we need some stabilisation mechanism. And

[2017-09-22 20:12] rcavalcanti commented on #125
Hmm, true about `take(1)`. I'm wondering if that's correct.

When we `take`, the upstream stops after emitting the based number (1). I don't see now how the stream doesn't stop, because the Slick stream further in the chain is finite. When the table is fully read it stops.

I was expecting the tick to trigger a new query and keep the stream flowing. I need to have another look on this.

I've prepa

[2017-09-23 09:07] skisel commented on #123
In case of application startup and database is very slow (shared oracle instance), it could get time out here.

[2017-09-23 12:41] WellingR commented on #124
What we could do is make the eager/configurable starting of the journal sequence actor. Perhaps starting eagerly could become the default.

If we query for the current max and then keep asking the `JournalSequenceActor` for the max value we are actually asking it to catchup with the max value before returning a`Source`. Is that what you had in mind?

That is correct.

I agree that it could be a go

[2017-09-23 12:54] WellingR commented on #125
eventsByTag uses `Source.unfoldAsync` which has the following signature
`def unfoldAsync[S, E](s: S)(f: S ⇒ Future[Option[(S, E)]]): Source[E, NotUsed]`

In our case f returns a future which comes from a stream starting with the `delaySource`. An effect of this is that the time to complete this future is always at least `refreshInterval`.

This method is not perfect, one disadvantage is that the c

[2017-09-27 19:13] #123 closed

[2017-09-27 19:29] #126 closed

[2017-09-27 20:48] skisel commented on #123
Thank you very much!

[2017-09-28 18:30] #71 closed

[2017-10-06 16:53] acchaulk opened #130 "Journal Table Schema Discrepancy"
There is a discrepancy between the [databases schemas](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/test/resources/schema/postgres/postgres-schema.sql#L10) and the [JournalTables schema](https://github.com/dnvriend/akka-persistence-jdbc/blob/69086811a20f6571c3a178ceff67323381a3fae0/src/main/scala/akka/persistence/jdbc/journal/dao/JournalTables.scala#L38).
I noticed slower quer

[2017-10-08 11:38] WellingR commented on #130
Thanks for spotting this! The schemas in the test package (which are also the ones we link to from the readme) are indeed the ones that should be used.

I guess the reason for this discrepancy is just some legacy. Our own code is dependent on the JournalTables only for executing queries, not for generating the DDL. But I agree that this should be corrected.

I will merge your PR soon

[2017-10-09 17:34] WellingR commented on #130
#132 has been merged

[2017-10-09 17:34] #130 closed

[2017-10-23 20:46] #124 closed

[2017-10-26 20:20] #125 closed

[2017-10-29 09:49] WellingR commented on #98
Closing this issue since there has been no more response form the issue author
@tcak76 if this issue still occurs, feel free to reopen

[2017-10-29 09:49] #98 closed

[2017-11-10 04:59] TimMoore opened #142 "Provide a way to configure maxConnections when using a JNDI name"
Slick 3.2 requires knowledge about the maximum number of connections available from a data source. When using an external data source, this value needs to be passed in explicitly (see https://github.com/slick/slick/pull/1685).

Currently, Akka Persistence JDBC [passes `None`](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/main/scala/akka/persistence/jdbc/util/SlickDriver.scala#L

[2017-11-11 09:51] WellingR commented on #142
Good find.

I have actually been thinking of changing how akka-persistence-jdbc loads/created the slick database. In the current setup, akka-persistence jdbc loads the slick config (which initializes a database pool) once for the `jdbc-journal`, `jdbc-snapshot-store` and the `
jdbc-read-journal` (as in the config). This allows using different database config for the journal and the snapshot store,

[2017-11-11 10:13] WellingR commented on #79
In the current version of [JournalQueries.scala](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/main/scala/akka/persistence/jdbc/journal/dao/JournalQueries.scala) the deleted filter is already being used in the `markJournalMessagesAsDeleted ` query.

Clossing this issue, since this bug seems to have been resolved already

[2017-11-11 10:13] #79 closed

[2017-11-13 06:13] TimMoore commented on #142
@WellingR We work around the duplicate Slick database initialization already in Lagom by using JNDI. So the data source is constructed separately from Slick & Akka Persistence JDBC and reused by all of the stores.

I think that's separate from this issue, since the problem of duplicate pools only happens when _not_ using JNDI, whereas this problem only occurs when you _are_ using JNDI.

I do plan

[2017-11-13 07:25] WellingR commented on #142
I agree that those are separate problems. The possibility to configure `jndiMaxConnections` seems to be a good solution, perhaps we could log a warning when this value is missing from the config.

[2017-11-14 09:54] otobrglez opened #144 "akka-persistence-jdbc and JSON serialisation"
Hey guys!

I was wondering how should I properly use/extend [akka-persistence-jdbc] so that my events are stored in PostgreSQL as [JSON](https://www.postgresql.org/docs/9.6/static/datatype-json.html)?

1) I've checked [akka-persistence-jdbc-play - `JsonJournalSerializer.scala`][akka-persistence-jdbc-play] example that extends `akka.persistence.jdbc.serialization.journal.JsonJournalConverter` - to

[2017-11-14 16:12] renatocaval commented on #142
Why would we create a new config property? We have already `maxConnections`.

Moreover, what I see on Slick code base is that when using Hikari, `maxConnections` is used to configure the connection pool and to configure the `AsyncExecutor`

First Hikari pool size is set
https://github.com/slick/slick/blob/65a59491fdf238bb0af581fefd80447bfd2540f9/slick-hikaricp/src/main/scala/slick/jdbc/hikaricp/Hi

[2017-11-14 16:14] renatocaval commented on #142
I will fill an issue on Slick + PR for this.

On our side, the workaround would be to use `maxConnections` to configure the DS using JNDI and propagate that same value down to the `AsyncExecutor`

[2017-11-14 23:05] renatocaval commented on #142
Filled issue in Slick project:
https://github.com/slick/slick/issues/1814

and corresponding PR:
https://github.com/slick/slick/pull/1815

[2017-11-15 08:35] otobrglez commented on #144
After some exploring, I came up with following solutions. Please do tell me if it's wrong one. ;)

Inside my configuration of Akka (`application.conf`) I've added new serializer for `akka.persistence.PersistentRepr` like so...
[code]

My `JSONSerializer` looks like this:
[code]

Now this does *NOT* mean that events will be inserted into database as text / JSON, they are still `bytea` so in order t

[2017-11-16 20:39] WellingR commented on #144
You are making good steps, however I think you probably do not want to store you events as byte arrays at all. Out of the box, we have no support for this, but there are some types you can extend.

What you could do is create your own implementation of [JournalDao](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/main/scala/akka/persistence/jdbc/journal/dao/JournalDao.scala) if yo

[2017-11-16 20:44] WellingR commented on #144
Note, if you have implementations of these json based dao's then feel free to open a PR to include those in the project. I would be happy to help you set up a configuration for some of our existing testcases to support the json-based dao implementations.

[2017-11-16 22:04] #76 closed

[2017-11-16 22:09] renatocaval commented on #144
@WellingR / @otobrglez It would be create to have Json DAO. Even better if they are not bound to any specific Json lib (json4s, play-json, circe), but configurable by passing an encoder/decoder.

@otobrglez, because you mentioned Postgres I imagine you're planning to use slick-pg and Postgres support for jsonb. Did you have that in mind?

[2017-11-16 22:16] renatocaval commented on #144
Oh, I just realised one thing. The current implementation doesn't have a dedicated column to store the payload + the manifest. It serializes a `PersistentRepr` in which the payload for the event is serialized using whatever serializer your have configured for it.

So, whatever you end up using, it won't be saved as raw json, but as something wrapped by `PersistentRepr`.

In Lagom for instance, we

[2017-11-16 22:36] renatocaval commented on #142
I realised that this can't be properly done without also implementing what @WellingR suggested about avoiding the creation of different pools.

The bottom line is:
When configured through plain configuration, there is no harm in having many pools. Especially because each Slick Database will use its own pool in combination with a correctly configured `AsyncExecutor`.

When using JNDI, each piece (j

[2017-11-17 08:55] WellingR commented on #144
Indeed, the current implementation serializes the complete PersistentRepr, which includes the manifest (and a bit more). The consequence of this is that `SELECT convert_from(message, 'UTF-8')::json FROM journal;` is not going to work.

However it should be possible to bypass this mechanism completely by making a custom table definition and dao implementations for this as suggested in my previous c

[2017-11-17 09:03] renatocaval commented on #144
To be honest, I fear that we will add lots of complexity to support this: custom table + different DAOs. But I may be wrong. That's just my first impression.

[2017-11-17 09:20] WellingR commented on #144
You could be right, perhaps we can publish this in a separate project.

[2017-11-18 18:12] anant1525 opened #147 "java.lang.NoSuchMethodError: slick.lifted.Shape$.mappedProjectionShape()Lslick/lifted/Shape;"
Hi,
I am using the plugin for akka persistence using mysql database.
After the doing the mentioned configuration getting the below error which looks to me related with versions need advice.

using scala 2.12
slick 2.12

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLogg

[2017-11-19 17:06] WellingR commented on #147
Most likely you are getting this issue because you do not use the same slick version as akka-persistence-jdbc uses.

What version of slick are you using (your issue report states 2.12 but that is the scala version). Also, what version of akka-persistence-jdbc are you using?

[2017-11-19 17:09] WellingR commented on #142
Wouldn't it be possible to divide up the number of connections across the `AsyncExecutor`s . If the configured number of max connections is lower than the real size of the connection pool then there should be no real problem right? The `AsyncExecutor` would not use up all connections, but it leave some connections available for other executors, which is propably what we want in this case.

[2017-11-20 06:54] anant1525 commented on #147
Hi WellingR,

I am using "akka-persistence-jdbc_2.12" version 3.0.0

One More thing our original Akka implementation using scala version 2.11 so i have to switch to that.

I appreciate your help, much needed for.

Best Regards

[2017-11-20 09:11] WellingR commented on #147
All dependencies should have the scala-binary versions alligned.

If you use scala 2.11.x use only _2.11 dependencies. In case of scala 2.12.x use only _2.12 dependencies. Never mix these, since this will cause issues.

[2017-11-20 09:12] WellingR commented on #147
By the way are you using sbt or maven?

[2017-11-20 09:21] anant1525 commented on #147
Hi Welling,

Yes I am using now _2.11 across all. And I am using maven.

attaching my pom.xml for better view.
[pom.zip](https://github.com/dnvriend/akka-persistence-jdbc/files/1487049/pom.zip)

Best Regards,

[2017-11-20 10:23] WellingR commented on #147
You should allign your slick version with the slick version that is used by akka-persistence-jdbc. In this case that means you should use

[code]

Let me know if this resolves your issue

[2017-11-21 04:43] TimMoore commented on #142
Yes, I agree @WellingR. This is why I suggested `maxConnections` needs to be configured per plugin. If you are sharing one `DataSource` between plugins with JNDI, you'll also need to allocate a maximum number of connections to each one so that the total doesn't exceed the maximum in the pool.

If you want to share an `AsyncExecutor` between the plugins as well, you'd use `jndiDbName` instead of `j

[2017-11-21 18:55] WellingR commented on #144
FYI, it seems that this is being implemented in https://github.com/d2aborg/akka-persistence-jdbc-jackson.

[2017-11-22 16:49] robot-govorun opened #149 "eventsByTag querying strategy"
Hi everyone!

I've noticed that, when trying to query events by tag which is not present in journal from `given offset` the ReadJournal may run quite beefy queries against the database. Load grows while journal size increases, if the events are at the beginning of journal (before `given offset`). After some research I figured out that, when the ReadJournal queries `eventsByTag` with `terminateAfte

[2017-11-24 16:48] WellingR commented on #93
Closing this now that #146 has been merged. The changes will be included in the next release.

[2017-11-24 16:48] #93 closed

[2017-11-25 08:27] WellingR commented on #149
The eventsByTag query has been implemented to query for all new events, from the last known event which matched the given tags.

Because of two bugs (#96 and #124) some changes to the query algorithm were made. We now figure out the highest ordering value (`maxOrderingId`) for which no gap appear in the journal. And then we query all events until that value.

Since we know exactly from what id and

[2017-11-25 09:14] WellingR commented on #149
I am working on this. The fix itself is very simple however a bug in the tests is popping up. I will create a pull request for this when it is ready.

[2017-11-25 09:15] WellingR commented on #147
@anant1525 Has your problem been resolved? If so you may close this issue

[2017-11-26 12:52] anant1525 commented on #147
Hi WellingR,
Not yet I as I was trying with akka 2.3, but I will update soon on this thread. As resumed the work with akka 2.5, I will update soon.

[2017-11-26 13:18] anant1525 commented on #147
Hi WellingerR,

plugin is working fine with mariadb 10.2,  akka 2.5.4, scala 2.12.
![akka-snapshot](https://user-images.githubusercontent.com/33789263/33240294-fac9ba9a-d2d9-11e7-96bd-2d9cf24a1c67.PNG)
![akka-journal](https://user-images.githubusercontent.com/33789263/33240295-faf26602-d2d9-11e7-89e7-f7af0c320ab3.PNG)

Many thanks for all the support over the period... really appreciate this ...

[2017-11-27 07:27] WellingR commented on #147
Good to hear you have it all working now. I am closing this issue.

[2017-11-27 07:27] #147 closed

[2017-12-04 08:49] robot-govorun commented on #149
Great! Looking forward when fix to be available

[2017-12-06 08:10] WellingR opened #155 "JournalSequenceActor can be very slow and even cause out-of-memory errors in case of huge sequence gaps"
Given the following case:

The journal has one entry, where the ordering column has value 29721004 (almost 30 million)
(appearently the ordering_seq did not start at 1 when i saw this issue occur.

When an eventsByTag query is started, the journal sequence actor will load. And start querying, unfortunately the code was not build with the expectations that "gaps" could be this large. And it starts

[2017-12-07 11:32] #82 closed

[2017-12-07 11:34] #149 closed

[2017-12-07 15:41] bodrin opened #156 "Question: is there any example in java?"
Hi,
I would like to try java+akka+persistence+postgreSQL and found this plugin.
Is there any chance you will provide a java example into the future or are you aware if there already exist some?
Thanks!

[2017-12-07 18:07] WellingR commented on #156
When you have configured this plugin (our readme contains the info how to do this, this is the same for java and scala), you do not actually interact with this plugin directly.

The akka documentation contains lots of examples for akka-persistence in both java and scala: See
https://doc.akka.io/docs/akka/2.5.4/java/persistence.html

[2017-12-08 09:53] bodrin commented on #156
Hi WellingR,
Thanks for the explanation!
I'll try to consume this plugin in an example java akka project. I will report back here so for now I guess that the issue can be closed.
Thanks!

[2017-12-08 15:57] #156 closed

[2017-12-11 07:42] WellingR commented on #123
FYI
@skisel I have recently discovered #155 it seems to be that an ask timeout of the journal sequence actor can be caused by very large gaps in the database, typically this can occur when the first event does not have 1 (or 0) as the first id, but a very large value.

I hope to fix this in the next version of akka-persistence-jdbc. For now, increasing the timeout is the only workaround.

Since yo

[2017-12-11 18:27] skisel commented on #123
Thanks @WellingR, I will have a look. I think you're right, it happens really with high value of seqNr.

[2017-12-19 15:03] #155 closed

[2018-01-05 15:25] eshepelyuk opened #160 "Add option to physically delete journal messages"
Currently journal items are marked as deleted when `akka.persistence.Eventsourced#deleteMessages` is called. It happens inside `akka.persistence.jdbc.journal.dao.BaseByteArrayJournalDao#delete` method.

When it comes to bigger amounts of journal items being written and deleted (after snapshot, e.g.) this functionality may bring operational issue resulting in lack of disk space on DB server.

What

[2018-01-05 17:32] WellingR commented on #160
Such a configuration setting could be useful, however this has the drawback that these events are no longer returned for the eventsByTag query. (which may or may not be desisired).

Currently this is not supported, but it should definitely be possible to introduce this feature based on a configuration setting.

I added the "help wanted label" since I will not have the time to work on this soon.

[2018-01-05 17:36] eshepelyuk commented on #160
Hello @WellingR

me and my co-workers are willing to provide a PR for that. Is it interesting to you ?
If yes, plz assign it to me (if `GitHub` allows it) so we're ready to start working on this feature.

[2018-01-06 21:12] WellingR commented on #160
Yes, this would be much appreciated. I have assigned this issue to you

[2018-01-09 13:53] renatocaval commented on #160
There is a related discussion on this PR (never merged and now apparently abandoned)
https://github.com/dnvriend/akka-persistence-jdbc/pull/104

[2018-01-12 07:17] #160 closed

[2018-01-12 10:02] eshepelyuk commented on #160
@renatocaval @WellingR thanks you for accepting the PR,
May we expect a new release with that fix appear soon ?

[2018-01-12 19:43] WellingR commented on #160
Since it makes sense to include the changes from #104 in combination with this. We will probably make a similar change to allow configuration of whether to return deleted events in queries. When this is done a release can be made.

[2018-01-17 08:17] eshepelyuk commented on #160
Hi @WellingR

This sounds reasonable, except the fact that referenced PR was not updated since 13 Nov of the last year.
I'm just worried that it can take ages for #104 to be resolved and for both features to be released.

From the other hand - this issue (#160) released on its own will not affect existing users at all.
Additionally the warning can be added into docs explaining that setting `logica

[2018-01-17 10:27] renatocaval commented on #160
@eshepelyuk is it not much work to make #104 happens. I will try to take a look today.

[2018-01-17 11:24] eshepelyuk commented on #160
Thank you @renatocaval

[2018-01-19 15:06] renatocaval commented on #160
@eshepelyuk I fixed the conflict in #104, but didn't find enough time to work on it further. I'm facing some issues with Oracle docker and we need to add tests to make sure we aren't introducing any regression. Bottom line, I can't implement is as fast I as thought.

Maybe we should simple cut a release with #160 as you mentioned and #104 comes in a the next one.

@WellingR what do you think? Do w

[2018-01-19 16:48] WellingR commented on #160
@renatocaval We can make a new release. I will see if I can do it this weekend

[2018-01-22 10:06] WellingR commented on #160
@eshepelyuk The 3.2.0 release has been published to bintray. It may take a few hours before it is synchronized to maven central.

[2018-01-23 06:34] eshepelyuk commented on #160
Hi @WellingR
Thank you for releasing. We'll start using it soon.
Btw there's a minor mistake in README - to delete messages physically `logicalDelete` must be set to false.
Not true as mentioned in readme (this is default)

[2018-01-23 07:53] WellingR commented on #160
@eshepelyuk Thanks for noticing this. I have corrected the release notes.

[2018-02-07 21:25] siniconcur commented on #116
I have the same issue when using acca with scala and the config for h2db. The config for persistence look exactly like the one mentioned above.
what does wrong hierarchy mentioned above mean? I have the config in application.conf under src/main/resources

[2018-02-07 21:35] siniconcur opened #166 "Persistence with h2db is not working"
WHEN I copy the the content of the configuration you given in example "h2-application.conf" into my application.conf, I get the error
"slick.db - dataSource or dataSourceClassName or jdbcUrl is required.","logger_name":"com.zaxxer.hikari.HikariConfig"

persistence part of my application.conf looks like this.
persistence {
    journal {
      plugin = "jdbc-journal"
      auto-start-journals = ["jd

[2018-02-08 07:31] WellingR commented on #116
I cannot see exactly what is wrong for your case. However please have a look at the example config.

https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/test/resources/h2-application.conf

You could use that file as a base and make the changes that you need

[2018-02-08 10:38] siniconcur commented on #116
Hi, Thanks a lot for your quick response.
I had the jdbc-journal and    jdbc-snapshot-store under the akka{} hierarchy.
I have now put them outside of the akka hierarchy in application.conf and I got further.

But I get the table not found exception now. Could be coz I am not creating the tables in the application myself. Do I need to do that? Can you please share an eg of how to do that?

Below i

[2018-02-08 11:26] janjaali commented on #116
Unlike the (cassandra-plugin, as far as I know they did this initially) this plugin does not initialise the tables for you. Have a look at: [H2Schema](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/test/resources/schema/h2/h2-schema.sql)

[2018-02-10 11:08] WellingR commented on #166
I see you also asked some questions in https://github.com/dnvriend/akka-persistence-jdbc/issues/116

As from the config you posted, these settings should be at the top level, not wrapped in `persistence {` block

[2018-02-11 12:02] siniconcur commented on #166
Thanks a lot. That was the issue.

[2018-02-11 13:34] #166 closed

[2018-03-01 05:02] TimMoore opened #168 "eventsByTag query returns incorrect results for tags that share a prefix"
The query for `eventsByTag` uses a `LIKE` to do a substring match on the provided tag:

https://github.com/dnvriend/akka-persistence-jdbc/blob/8a3ad9556ca5ccfbaec11f2b5c3bc39b39bd054a/src/main/scala/akka/persistence/jdbc/query/dao/ByteArrayReadJournalDao.scala#L97-L110

This means that if you use tags that contain a shard number, you'll have conflicts with more than single-digit shards. For exampl

[2018-03-01 08:21] renatocaval commented on #168
I can see only two solutions here:

1. add a flag to swap between `=` and `LIKE` syntax.
2. add more tag columns and use `=` syntax, ie: "tag1 =  'JobEvent1' OR tag2 = 'FooBar'"

Option 1 is a damm hack and will also force people to stick with one tag only.

Option 2 is better but is backward incompatible.

Any other more creative ideas?

[2018-03-01 08:28] TimMoore commented on #168
I was thinking something like this:

[code]

I don't know if that's going to cause terrible query performance, however. It might be better to have an exploded tags table with a foreign key relation to the persistence ID that is written in a transaction with the journal table, then join them to query. That of course would be a massive change requiring a schema migration.

[2018-03-01 08:33] TimMoore commented on #168
Possible that the query already requires a full table scan, however... I've never checked.

[2018-03-01 08:54] renatocaval commented on #168
val endsWithTag = s"%,$tag"
val containsTag = s"%,$tag,%"

That's indeed creative! I like it. :-)

Not sure about the performance implications of it.

[2018-03-01 08:59] TimMoore commented on #168
You can tell I spent some past time as a Perl programmer :joy:

[2018-03-01 21:08] bpiper commented on #168
If you lead with a wildcard in just one of those predicates then it's going to do a full table scan, and looking at how often the journal table is queried (i.e. constantly), this would eventually bring things to a grinding halt.  I'm fairly new to Akka Persistence and Lagom so I'm not sure under what circumstances you'd have multiple tags, but maybe in a lot of cases there's only one, and thus a f

[2018-03-02 00:37] TimMoore opened #169 "Cannot create multiple instances of the read journal"
`JdbcReadJournal` starts an actor when a query for events by tag is issued:

https://github.com/dnvriend/akka-persistence-jdbc/blob/ca058d607fae67758bce37c9d1b1002114b9f2f0/src/main/scala/akka/persistence/jdbc/query/scaladsl/JdbcReadJournal.scala#L95-L96

Akka Persistence allows for the creation of multiple instances of a read journal, with different configuration paths. Because the `JournalSequen

[2018-03-02 05:26] TimMoore commented on #168
Yes, that's what I was thinking @bpiper, but the existing query also has a leading wildcard:

[code]

So it might be no worse.

But I agree that multiple tags are uncommon. That could be the best compromise for the time being. I'd suggest that we have the config disable multiple tag support entirely, fail fast when persisting multiple tags, and maybe warn or even fail when deserializing events wit

[2018-03-02 05:32] TimMoore commented on #168
CC @patriknw

[2018-03-02 16:22] patriknw commented on #168
It’s perfectly fine for a persistence plugin to define additional custom queries, such as the tag+shardId that you were talking about.

Isn’t the right rdb way to define the tags in a separate table and join to support multiple tags?

[2018-03-05 06:33] TimMoore opened #170 "Update Slick to 3.2.2"
Slick 3.2.2 was recently released with some fixes https://github.com/slick/slick/milestone/28?closed=1

[2018-03-05 17:02] ignasi35 commented on #168
+1

[2018-03-07 14:57] agnaldo4j opened #171 "Database closing outside of Coordinated Shutdown"
When my application down with SIGTERM, the database is closed immediately causing some errors.

To prevent this problem and have more control, I ask you if is possible to close the database inside of Coordinated Shutdown changing this code `sys.addShutdownHook(db.close())` in `akka.persistence.jdbc.query.JdbcReadJournal` line 72, to be inside of some phase of Coordinated Shutdown, maybe on “before

[2018-03-14 15:22] WellingR commented on #171
Good find. I was handling this as part of #151 but I am no longer actively working on this right now.

Previously this could not be implemented yet because coordinated shutdown is only part of akka 2.5. However we are no longer backporting all changes to the akka 2.4 branch anymore.

[2018-03-14 15:24] WellingR commented on #169
Good find, I did not know it was possible to create multiple instances. We should definitely include a test for this scenario

[2018-03-14 15:33] WellingR opened #172 "Include a configuration setting which ensures that events can only have a single tag, for better eventsByTag performance"
See the discussion in #168

Since we can do a simple equality check if we only use a single tag, this might make the query perform better.

[2018-03-14 15:35] WellingR commented on #168
There was an issue about this before and at that time we added it to the scaladoc of the eventsByTag methods. So this is a documented limitation.

Joining in a separate table would probably the best solution, however this requires a ddl change.

Logged #172 for the suggestion above

[2018-03-14 15:40] WellingR commented on #168
This is not the only part of the query, there is also a filtering for the ordering column (pk) which should be larger than some value. and there is a limit to the max number of result. So unless you search for a non-exising tag, the whole table will probably not be scanned.

[2018-03-14 20:07] bpiper commented on #168
Ah, right you are @WellingR , I'd skimmed over that part of the query the first time around.  It's not the primary key, but there is a unique index on it.  If its bounds are generally pretty tight then yes it should just be range scanning that index and doing table lookups, which makes the discrimination on tag pretty irrelevant (in terms of performance anyway).  The limit would also help in theor

[2018-03-20 11:28] Reeebuuk opened #173 "Wiki page out of date?"
Hi guys, wiki page seems out of date.
Is this plugin ready for prod or dev only? :)

[2018-03-20 13:24] robot-govorun commented on #173
Hi, I think it is reliable enough for prod usage. There is annoying bug related to multiple tagging, but it could be easily overcome if you really need multiple tag support. Anyway works well in my projects.

[2018-03-21 07:54] WellingR commented on #173
Thanks for reporting this.
I have regularly updated our README.md (which is what you see on the front page of the repo). However I actually never noticed that this repo has a wiki. I will see if I can do an update soon (or perhaps removed outdated info).

Perople are using this plugin in production.

[2018-03-21 07:59] #171 closed

[2018-03-21 08:08] Reeebuuk commented on #173
Great, thank you for the info

[2018-03-22 20:53] WellingR commented on #168
Even though a separate table to join the tags would be a proper solution. It should actually be possible to keep on using the current LIKE query to retrieve possibly matching journal rows.
We can split the tag string based on the configured separator character, and verify if the tag is actually  a match.

I am investigating if we can simply drop the events after deserializing them with the tags. I

[2018-03-24 06:26] #170 closed

[2018-03-24 14:54] WellingR opened #177 "Correct thread/connection pool configuration"
Now that we have updated slick, the following warning appears in the log (during tests)

    WARN AsyncExecutor - Having maxConnection > maxThreads can result in deadlocks if transactions or database locks are used.

It seems that we need to change the default configuration, so that maxConnections and maxThreads are equal.

See https://github.com/slick/slick/issues/1614#issuecomment-284730145

[2018-03-24 21:16] #169 closed

[2018-03-25 10:38] WellingR commented on #168
I have been thinking about this.
The proper solution would be to create a separate table journal_tag which joins journal entries with their tags. However there are two reasons why I am not in favour of this:
- First of all we need to change the ddl. Migration might be fairly complex, because we need scripts that retrieve the existing tags column data, and parses it to find all tags inside it.
- Se

[2018-03-26 07:01] renatocaval commented on #177
That's correct. We must have `minConnections == maxConnections == maxThreads`

This was a fix introduced in 3.2.2.
https://github.com/slick/slick/pull/1855

[2018-03-26 10:03] #177 closed

[2018-03-26 10:07] renatocaval commented on #173
This plugin is used by many Lagom users. We consider it prod ready.

[2018-03-26 10:17] renatocaval commented on #168
Maybe we don't need to force any migration. How events are persistented is a matter of how the DAO saves them.

Because we have a DAO layer, we can investigate the option of swapping implementations. If someone wants to save many tags in a different table and pay the performance price, then they can configure the plugin to do so.

The default DAO must stay the one we have now, but we could eventua

[2018-04-15 08:32] WellingR commented on #168
Since we need to force a migration as part of #180 we might just as well include the proper fix for this issue: a separate table for the tags in the journal.

[2018-04-25 09:02] ktoso opened #182 "Add internal-ish API for in-place updates, for data migrations (e.g. encryption)"
Hi there,
We're looking to extend the JDBC plugin with a maybe surprising capability -- in place Update.
We'll make a small API in Akka itself shortly so that the plugin can be made to understand those extra operations. I have a WIP for the JDBC plugin already though and we worked on the Cassandra one as well.

The use case is for when someone decides when want to encrypt all their existing events

[2018-04-30 07:58] agnaldo4j commented on #172
Hi @WellingR  at this moment my team has a performance problem with that eventsByTag implementation, we try to use some Postgres extensions (https://www.postgresql.org/docs/9.6/static/pgtrgm.html) to help but for us a query like this ``` tags = 'teg' ``` would be great.

[2018-04-30 10:58] WellingR commented on #172
Hey @agnaldo4j,
To fix the problem that you have right now, you can create your own implementation of
`ReadJournalDao` (which you can derive from `ByteArrayReadJournalDao`) and configure it your application.conf.

[2018-05-18 16:43] hairylime opened #185 "Using explicit db settings config, startup fails due to no jndiName specified"
Here are the relevant parts of my config:
[code]
When I run with this, I get
[code]

Which is coming from where it first tries to resolve via JNDI...

[2018-05-18 19:30] #185 closed

[2018-05-18 19:31] hairylime commented on #185
nvm - problem on my side

[2018-05-20 21:02] skisel opened #186 "currentPersistenceIds flatMapConcat currentEventsByPersistenceId issue with async combinators"
Hi,

I'm fighting with very strange issue which I finally I was able to reproduce on the minimal case. I've persisted "fake" 20 persistenceIds 2 events each and now I'm struggling with JdbcReadJournal:

[code]

The following stream stops after emitting two events of single persistenceIds. If I remove scanAsync or change it to normal scan - it works as expected.

I'm using default configuration of

[2018-05-20 22:05] skisel commented on #186
This one also fails with the same pattern:

[code]

[2018-05-23 07:30] renatocaval commented on #186
@skisel what is "working as expected" for you in this case?

I don't think this is related with the plugin but with your expectations on `scan` and `scanAsync`.

From your code, I assume that you want to fetch all current IDs and then all current events and concatenate them in a single stream. And as far I can tell that's exactly what is happening, no? Once you fetch them all the stream stops and

[2018-05-23 08:28] skisel commented on #186
@renatocaval

In general I think the problem is with syncAsync behavior which I referenced the ticket in akka/akka github.

But let me explain what happens in this particular case. If we have two persistence ids like this:
"712563be-be2d-4f2a-9b67-fa114e398967", "b75e0933-4881-4d47-89c5-03ed55131dd1" and there are events persisted for each of them "1", "2" and "3". By running the scan with async o

[2018-05-23 11:46] renatocaval commented on #186
Yeah, this is probably an issue with `scanAsync` instead. I will close the this issue if you don't mind. It's reported on the akka project which is the right place for it.

Thanks

[2018-05-23 11:46] #186 closed

[2018-05-24 20:51] zmarois opened #188 "Access to JdbcAsyncWriteJournal"
I see that the [ReadJournal is exposed](https://github.com/dnvriend/akka-persistence-jdbc#how-to-get-the-readjournal-using-java), but how would I access the write journal?

I'd assume it needs to be accessible for @ktoso's recent feature in https://github.com/dnvriend/akka-persistence-jdbc/pull/183 to allow for updates. Is it currently accessible, and I just don't see how I would do so without cre

[2018-05-25 00:46] ktoso commented on #188
It's not a feature that should be used across the board really so it is intentionally not super exposed.
Yes, reaching into the journalFor is the strategy.

[2018-05-25 06:44] WellingR commented on #188
You state that you want to do a db migration, are you migrating from one jdbc database to another? Or are you migrating from a different akka-persistence journal plugin?

In the first case you can see if the source database supports dumping the contents of the journal table in a format which the target database supports. If this is not the case then maybe you can use slick to query the `JournalRow

[2018-05-25 12:36] zmarois commented on #188
I am trying out a migration from a Cassandra akka-persistence implementation. I had considered using the highest-level interface the most likely for integration success, which is why I targeted the write journal, but you're right, I'll probably be fine just using the Serializer and doing the insert myself.

I'm explicitly trying not to use a persistent actor because I want to ensure my sequence nu

[2018-05-25 12:36] #188 closed

[2018-05-29 12:50] renatocaval commented on #182
implemented on #183

[2018-05-29 12:50] #182 closed

[2018-06-05 11:36] ignasi35 opened #192 "When using shared db's connections may be left open."
NOTE: `akka-persistence-jdbc` distinguishes between `dbs` and `shared-dbs`

* `akka-persistence-jdbc` uses `Actor#postStop` in `JdbcAsyncWriteJournal` and  `JdbsSnapshotStore`. There, `db.close` is invoked only if `db` is not shared.
* `akka-persistence-jdbc` uses `CoordinatedShutdown#addTask` in `JdbcReadJournal`. `JdbcReadJournal` uses `coordinated-shutdown-phase`.
* `SlickExtension`'s `DbHolder

[2018-06-05 15:31] patriknw commented on #192
I think this is the right solution.

[2018-06-05 19:22] renatocaval commented on #192
Let's go for solution 2 then. I was convinced that `ActorSystem.terminate` would trigger the `CoordinatedShutdown` and gracefully follow users instructions on how to stop everything. My bad.

[2018-06-05 20:48] patriknw commented on #192
For historical reasons it’s the other way around.

[2018-06-06 06:50] renatocaval commented on #192
Does it mean that one day `ActorSystem.terminate` will be deprecated in favor of `CoordinatedShutdown`?

[2018-06-22 15:07] agnaldo4j commented on #172
Hi @WellingR,

I Implement like you said and it improves the performance of the database.

Why you prefer this approach that uses LIKE in default mode? what is the most common use case, to use it in the views?

thanks for your help.

[2018-06-23 09:51] WellingR commented on #172
@agnaldo4j
It is not my preference to use the LIKE query, however this is still how it is implemented right now. The main reason is that akka-persistence allows storing multiple tags for an event.

The proper solution could be to store tags in a separate table (then it is still possible to store multiple tags). It is on my todo list to investigate what the performance implications are of doing thi

[2018-06-29 15:03] two10 opened #194 "Scalability issue - DAO do seq scan for eventByTag"
Hello , we are building our product on lagom and one day suddenly we saw high CPU usage.

We found that it is because of eventsByTag query on Journal table which do a sequential scan. and if events in the table is more than 10 lakh , it will screw the system.

Is this the desired behavior or am i missing something basic here

[2018-07-03 07:00] two10 commented on #194
is there any specific reason why are we using like in the tag query????

[2018-07-03 19:07] WellingR commented on #194
See #168 and #172
In order to support multiple tags, a poor design choice has been made to store all tags in a single column, and use a LIKE query to check whether the event has the tag.

In practice the queries often perform okay, since there should be a unique index on the ordering column.

I am investigating the performance impact of storing tags in a separate table. Otherwise a solution might

[2018-07-04 03:19] two10 commented on #194
@WellingR  in our case we are using Lagom and  multiple PersistentEntities events are going to the same journal table.

Now as the query include ordering > something with tag like behaviour, postgres need to do a `seq scan` every time . which kills the system even for a small number of events.

i am little skeptical about queries often perform okay.

Also can you confirm that Lagom uses only Singl

[2018-07-04 05:33] robot-govorun commented on #194
Completely agree. Fortunately, you can override journal's scheme and queries as you need by providing custom DAO stuff. Some time ago (may be a year) a've faced with the same problems (query performance and tag prefix sharing problem). The solution was quite simple:
 - altenative schema (changed tags column type from varchar to jsonb to keep array, added gin index)
 - altenative DAO (changed queri

[2018-07-04 06:16] WellingR commented on #194
I am working on an implementation where tags are stored in a separate table, however I had some trouble getting all tests green again, also I have not yet investigated if this significantly hurts the insertion performance.

@two10 Thanks for the suggestion to use a JSONB list with GIN index. I should see if something like this is possible in the other database types that we support.

I hope that w

[2018-07-06 08:40] TimMoore commented on #194
I can confirm that Lagom only adds a single tag per event (at most).

[2018-07-23 18:23] #192 closed

[2018-09-02 16:24] WellingR opened #198 "Update jdbc drivers for tests"
The jdbc driver drivers we use in tests need an update.

Specifically the MySql driver can give the following exception when using it with the latest mysql
`Unable to load authentication plugin 'caching_sha2_password'`

[2018-09-17 09:19] #198 closed

[2018-09-18 22:28] PerWiklander commented on #69
Isn't this implemented already? I always start with an empty schema in dev and the required tables (journal) show up by themselves.

[2018-09-19 13:14] msiegenthaler opened #206 "Add JNDI lookup example for shared databases"
It cost us some time to figure this out, so we hope it's helpful for others.

Based on the  code in the README.md we tried
[code]
which triggers the error `dataSource or dataSourceClassName or jdbcUrl is required.`

What works:
[code]

maybe you could add that to the README or else it'll also be helpful as a closed issue.

[2018-09-20 07:19] renatocaval commented on #206
This is not the expected behaviour and may be a bug.

Can you share with us your whole configuration?

[2018-09-20 07:32] renatocaval commented on #206
I'm adding this to milestone 3.5.0. We need to investigate it and fix it if proved to be a bug before releasing 3.5.0.

[2018-09-20 10:34] romanfrey commented on #206
@msiegenthaler and I did the configuration together, here it is:

[code]

[2018-11-01 13:08] david-nkanga opened #211 "Postgres relation "snapshot" does not exist at ...."
I'm quite new to PostgreSQL. I want to use it when experimenting with Akka Persistence. I'm running PostgreSQL via Docker by using the following command:

    docker run --name postgres -p 5432:5432 -e POSTGRES_USER=test -e POSTGRES_PASSWORD=test -e POSTGRES_DB=testing postgres:11

This is the output that I get back:

    The files belonging to this database system will be owned by user "postgres"

[2019-01-07 09:47] josh-s-g opened #213 "Duplicate key exceptions on adding event"
I'm finding occasional errors like this:
[code]
If this symptomatic of an incorrect implementation or configuration on my part? I'm effectively doing this:
[code]

And in the actor:
[code]
Is there a way to check (and then retry) if the `sequence_number` has been updated?

[2019-01-07 14:34] #213 closed

[2019-01-09 12:48] ohartvic opened #214 "Event Adapter not invoked"
Environment:
- akka-persistence-jdbc with the Postgres database
- akka 2.5.13
- java implementation

I have a custom WriteEventAdapter named TaggingEventAdapter configured to tag journal events when certain events occur. There is also a corresponding configuration in the application.conf to tie events and and the adapter together. My Actor is processing commands and persisting events but the Taggi

[2019-01-09 15:54] ohartvic commented on #214
This helped, thank you!

[2019-01-09 15:54] #214 closed

[2019-01-16 13:53] cristianrgreco commented on #69
I've also run into this issue now using SQLite. Writing to the journal fails with an error saying that the `snapshot` table does not exist.

[2019-01-18 09:46] ollyw commented on #213
@josh-s-g what was the output of your investigation. I am seeing the same duplicate key errors.

[2019-01-18 10:52] renatocaval commented on #213
That error usually happens when you have two instances of the same entity, in the case here `49156412-a1e7-4ed1-b5bf-25470b0596f7`, that are both trying to write an event.

This is a deployment error. Have you deployed two instances of the same application?
If so, you need to use akka cluster sharding and shard your persistent actors otherwise you can easily have them load in two JVM and trying to

[2019-01-18 10:58] josh-s-g commented on #213
Yes, it was a mistake with the way I was creating Actors (hence 2 trying to write events with the same persistence ID.

[2019-01-18 12:01] ollyw commented on #213
In my case, the only situation that there would be two instances running is if the cluster were split-brain, as the actors with the errors are cluster singletons. There is nothing in the logs to indicate split brain (there is an SBR running), and the logs don't indicate that actor logging on more than one node. I will keep digging. Thanks for you responses.

[2019-01-19 08:03] TJSomething commented on #194
I've worked around this by modifying the schema slightly, by adding an index. This relies on the fact that you can create indexes on expressions in Postgres. So, we add a GIN index on the tags, split into a `text` array:

[code]

Then, we can override the `eventsByTag` method in the standard DAO to use the GIN index array subset operator for the query.

[code]

I'm not sure this is the best way to

[2019-01-30 20:46] #206 closed

[2019-02-03 12:17] WellingR commented on #102
Closing this as this has been implemented as part of #200. This feature is now available in akka-persistence-jdbc 3.5.0

[2019-02-03 12:17] #102 closed

[2019-02-25 11:47] josh-s-g opened #225 "InvalidClassException while replaying events"
Occasionally I'm unable to re-create an actor due to an InvalidClassException:
[code]
I'm using a JSON serializer, and other persistence IDs with the same structure (including that Action Admin class) can have their events replayed just fine.

The only thing that I think is different between this persistence ID's events and any other (that can have their events replayed just fine) is that there ar

[2019-02-27 19:45] WellingR commented on #225
If I google this error message then it really seems you are using java serialization.

Can you try to test while disabling java serialization as follows?

[code]

You will probably get a different error (when writing the events) which will let you know that you probably have a misconfigured serializer

[2019-02-28 08:33] josh-s-g commented on #225
Thanks @WellingR
I'm using a customer JSON serializer, so adding
[code]
doesn't have any affect. My serializer code is pretty similar to the example in the Akka Persistence [docs](https://doc.akka.io/docs/akka/2.5/persistence-schema-evolution.html#configuring-payload-serializers) (instead using Circe to serialize to JSON):
[code]

Thanks

[2019-02-28 09:41] WellingR commented on #225
@josh-s-g

To be sure have been able to reproduce the issue on an event which as been written *after* you have disabled java serialization?

Does the exception you get have a stacktrace?

It would help if you can create a minimal example where you write and read an event, and reproduce this problem.

[2019-03-07 17:06] josh-s-g commented on #225
Right, thanks for the pointers. I think I figured out that the java serialization was being used, but only for snapshots (not regular events). That's why only the persistence IDs with lots of events were showing this issue. I have
[code]

is there another configuration required to specify serialization for snapshots too?

[2019-03-10 17:54] WellingR commented on #225
Yes, you do need to configure how your snapshot must be serialized, but this is similar to the serialization of regular events

[code]

[2019-03-11 16:10] josh-s-g commented on #225
Ok, great, thank you :+1:

[2019-03-11 16:10] #225 closed

[2019-04-12 23:41] NicolasRouquette commented on #69
I developed a multi-service Lagom 1.4.11 application that I wanted to configure for either Cassandra or MySQL persistence. There is a helpful blog article and example for a single service with a single MySQL persistence database here: https://blog.knoldus.com/a-crud-application-lagom-es-cqrs-with-mysql/

In my case, I wanted to mimic the recommendation from the doc for Cassandra persistence to hav

[2019-04-16 16:23] s4nk opened #227 "Type of the snapshot column in snapshot table"
In the current implementation the column definition for `SnapshotTables.Snapshot.snapshot` doesn't explicitly specify the column type, which means that in the generated DDL the type of that column is set to whatever is the SQL profile's matching type for an `Array[Byte]` (e.g., `bytea` for Postgres, or `BLOB` for MySQL). The problem is that the maximum sizes of these default binary types vary huge

[2019-04-16 18:17] WellingR commented on #227
Currently the DDL we use for testing (which is the one we recommend in the README.md docs) is [this DDL](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/test/resources/schema/mysql/mysql-schema.sql) which uses the BLOB type.
I agree that 64 kb might not be enough for snapshots in many cases.

I'd be happy to accept a PR with this change.

[2019-04-18 07:38] renatocaval opened #228 "Update to Slick 3.3.0"
We are still using an olde version of Slick.

Slick 3.3.0 has an important fix related with update of HikariCP and a deprecated (now removed) method.

See: https://github.com/slick/slick/pull/1932

This can potentially impact users of the plugin depending on how they create the Slick DB.

See also: https://github.com/lagom/lagom/issues/1094

[2019-04-18 18:57] WellingR commented on #228
The latest 3.5.0 release has been built using slick 3.3.0

See https://github.com/dnvriend/akka-persistence-jdbc/commit/f4672e3a624d2e2d82402fab54c159d3c4b6af41

[2019-04-18 20:59] renatocaval commented on #228
I was checking it, but I think I was looking on the wrong branch. Sorry for the confusion.

Closing it.

[2019-04-18 20:59] #228 closed

[2019-05-04 01:13] ning-tan opened #229 "How to enable proper error logging (e.g. DB table does not exist, incompatible event adapter, etc)"
Hello, I'm new to Scala, Akka, persistent actors, and this library, so I apologize if my question seems silly.

I'm trying to set up an Oracle backing store for a minimal POC using the official Akka persistence sample project found here: https://developer.lightbend.com/start/?group=akka&project=akka-samples-persistence-scala.

Using the OracleProfile and the oracle-application.conf provided by you

[2019-05-04 09:09] WellingR commented on #229
you have enabled the "akka.event.slf4j.Slf4jLogger"  which is the first step, in addition you also need to configure a logging backend.

What you can do is add a dependency to [logback-core](https://mvnrepository.com/artifact/ch.qos.logback/logback-core/1.2.3)

And place a basic `logback.xml` file in your `src/main/resources` directory

[code]

see https://logback.qos.ch/manual/configuration.html

[2019-05-04 20:25] ning-tan commented on #229
Thanks a lot for the suggestion. I'll implement the above and report back. I'm familiar with logback.

[2019-05-06 13:37] ning-tan commented on #229
@WellingR thank you very much for the logback tips. I got logging working. I had to make a minor tweak. Instead of adding a dependency to logback-core, I needed logback-classic. Otherwise I got these warnings in stdout (and no debug logging):

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.o

[2019-05-06 13:37] #229 closed

[2019-05-15 08:16] dwijnand opened #232 "Drop usage of scala.xml.pull"
Used in https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/test/scala/akka/persistence/jdbc/util/ClasspathResources.scala

See https://github.com/scala/scala-xml/issues/193.  They've been removed in upcoming scala-xml 2: https://github.com/scala/scala-xml/pull/293.

[2019-05-22 16:06] aturner-tvpage commented on #177
Which is weird, because I'm getting this error in slick 3.2.3

[2019-05-23 08:20] TimMoore commented on #168
Since nobody has had a chance to make the proper fix for this yet, maybe it's worth implementing one of the quick & dirty fixes that doesn't require schema changes?

[2019-05-23 11:27] ignasi35 opened #233 "CRON build broken after merging #230"
(The issue may be unrelated to merging #230 )

The CRON build https://travis-ci.org/dnvriend/akka-persistence-jdbc/builds/536159790 failed both Java11 jobs with similar test failures on the `akka.persistence.jdbc.query.PostgresJournalSequenceActorTest` test.

[2019-05-23 12:14] dwijnand commented on #233
No ideas.

[2019-07-29 19:27] #232 closed

[2019-08-29 03:55] esamson opened #244 "Sharding to multiple databases"
I'm thinking of using a sharded database architecture like the one described in https://aws.amazon.com/blogs/database/sharding-with-amazon-relational-database-service/

This would allow scaling out to multiple databases, for example, by hash partitioning based on the `persistence_id` so that journal and snapshots are distributed to separate DB hosts.

Is this achievable with a custom *SlickDatabas

[2019-08-29 06:55] renatocaval commented on #244
The fact that you are sharding over different databases should be transparent to your app, I think. Ideally, this should be handled by a driver that is smart enough to pick connections from different pools.

You will have to reverse engineer the plugin to understand how it works. I'm not sure this will be possible though.

In any case, I would look first on the `SlickDatabaseProvider`.

(I'm closi

[2019-08-29 06:55] #244 closed

[2019-08-29 09:44] WellingR commented on #244
I do not think that this is possible in the current version.
However if the `SlickDatabaseProvider` would know receive the persitenceId when called, then it should be possible to return a specific database connection pool. This could work for the write journal and snapshot journal. However for the read jounal queries this may be much harder to do.
Actually since database sequences will probably no

[2019-08-29 15:07] esamson commented on #244
Thanks for your comments. I was hoping a custom extension might do the trick but it seems this would be a deeper change that can't easily be pursued.

Thanks.

[2019-09-04 07:25] otto-dev opened #245 "Reason why SQLite is not supported?"
I just ported the SQL schema to SQLite, and it seems to work using Slick's SQLite profile. I was going to use it on a little tool, where a database-server for persistence would have been an overkill.

I'm just cautious why SQLite is not listed as a supported Slick profile. Is there some caveat I need to watch out for? Such as a technical limitation of `SQLite` that makes it unusable under certain

[2019-09-04 07:59] WellingR commented on #245
As far as I know, there is no specific reason, other than that we just have not included sqlite in our tests.

I'd be happy to accept a pull request

[2019-09-10 20:38] TJSomething commented on #168
If anyone's looking for a quick workaround and is using Postgres, I came up with [a workaround](https://github.com/dnvriend/akka-persistence-jdbc/issues/194#issuecomment-455759027) that fixes this and, by adding an index, improves performance.

[2019-10-16 08:51] truongio opened #246 "Deleting events based on persistence ID"
Hi,

Is there anyway to delete events through an API call if I have a persistence ID?

[2019-10-16 09:45] renatocaval commented on #246
Yes and no, you can check that part of the akka persistence plugin docs:
https://doc.akka.io/docs/akka/current/persistence.html#message-deletion

You can call that method with the right seqNr and it will delete it. The current seqNr you can find on the PersistenceActor itself. There is a method for that.

However, you need to take a few things into consideration.

* this can only be done from insi

[2019-10-22 11:22] renatocaval commented on #246
The same holds. Except that you need to call the equivalente delete message in Akka Typed

[2019-10-29 06:26] mgilbertnz commented on #177
For me the problem was with how I was getting the db instance when using this with Play.

Previously I was doing this....
[code]

This needed to change to the following in order to pick up the correct config from the application.conf file:
[code]

[2019-11-04 01:36] gyoho opened #249 "Connecting to multiple databases"
**Question**
Does this library support connecting to multiple databases? If so, how?

**Background**
We've been embracing event sourcing with journal systems for years. Our database now have accumulated ~8 million records in the journal table (we take a snapshot every 1000 records). Now, I'm exploring a way to perform database migration from MySQL to Oracle. To do so, I need to have connections to

[2019-11-04 14:43] WellingR commented on #249
You can copy the `jdbc-journal` section from https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/main/resources/reference.conf
and you could rename this to e.g. `mysql-jdbc-journal`. You can then load the plugin based on the `mysql-jdbc-journal`.
This probably means that you must configure which actor uses what journal so I am not sure if that is really what you want.

If you want to

[2019-11-15 15:34] feoktant opened #250 "Why deleted field is nullable?"
In all schemas `journal.deleted` field is nullable, however, in Slick it is not:
[Postgres](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/test/resources/schema/postgres/postgres-schema.sql#L7):
[code]

[In Slick:](https://github.com/dnvriend/akka-persistence-jdbc/blob/master/src/main/scala/akka/persistence/jdbc/journal/dao/JournalTables.scala#L36)
[code]

Was it done intentiona

[2019-11-15 19:25] WellingR commented on #250
As far as I know, this field should have a not null constraint. But you are right that it does not.

I think it should be possible to add this constraint without any problems

[2019-11-16 08:07] patriknw commented on #250
Is that even used? I think the logical vs physical deletes is not supported in Akka Persistence API any more. All deletes are physical.

[2019-11-16 09:32] WellingR commented on #250
If I am correct, there is a setting in akka-persistence-jdbc for logical/physical deletes. In addition when deleting all events, one must remain (with the deleted flag) so that the persistent actor will not re-use a previously used sequence number.

[2019-11-17 09:59] feoktant commented on #250
It is used in code in several places.

[2019-11-21 06:48] ennru opened #252 "Akka Persistence JDBC is moving to the Akka organisation"
# Akka Persistence JDBC is moving to the Akka organisation

Dennis (@dnvriend) released the first version of Akka Persistence JDBC in July 2014. This [Akka Persistence](https://doc.akka.io/docs/akka/current/typed/index-persistence.html) backend has since then been used in many many projects to implement Event Sourcing via Akka Persistence with JDBC compliant databases.

While the Akka team provide

[2019-11-29 07:44] ennru commented on #252
The repository is now transferred to the Akka Github organisation.
Github redirects from the old location to this new home.
The Lightbend Akka and Lagom teams will soon start aligning this project setup with the other Akka persistence repositories.

[2019-12-05 08:37] ennru opened #254 "Align the sbt build with Akka standards"
These are a few steps we

- [x] sbt upgrade
- [x] Set up Scala Steward
- [x] Set up release-drafter
- [x] Mima upgrade
- [x] sbt-header upgrade
- [x] Jabba for AdoptOpenJDK 8 and 11
- [x] Use sbt-dynver
- [x] Change to scalafmt with Akka config
- [x] Set up whitesource

[2019-12-05 08:58] #250 closed

[2019-12-05 15:31] octonato opened #260 "Merge with Mergify"

[2019-12-05 15:31] renatocaval opened #261 "Add project to scala-steward"

[2019-12-06 08:22] ennru opened #268 "Split tests on Travis per database?"
### Short description

By tagging the tests with the database they use the jobs could be split per database type.
I'm not sure if that would be any faster.

[2019-12-06 08:23] ennru commented on #261
Fixed with  https://github.com/scala-steward-org/repos/pull/101

[2019-12-06 08:23] #261 closed

[2019-12-06 08:28] ennru commented on #233
I set up the scheduled build to run with Akka 2.6.0
Let's see how it goes https://travis-ci.com/akka/akka-persistence-jdbc/builds

[2019-12-06 10:05] ennru opened #270 "Fix compilation with Akka 2.6 (scheduled builds)"
The use of the Akka Javadsl from Scala seems to trip things up when compiling against Akka 2.6

https://travis-ci.com/akka/akka-persistence-jdbc/jobs/263762979#L401

[2019-12-09 10:31] #252 closed

[2019-12-09 12:17] ennru opened #285 "Detect version of former group ID on classpath"
### Short description

Detect if this plugin of the old 3.5.x series is on the classpath and make it fail if so.

### Details

As the group ID changes to "com.lightbend.akka" users may end up with two versions of this plugin on their classpath.
Find a way to detect that and fail.

[2019-12-09 14:28] ennru opened #287 "Use Oracle JDBC driver from Maven Central"
### Short description

The Oracle JDBC driver is now available from [Maven Central](https://search.maven.org/artifact/com.oracle.ojdbc/ojdbc8/19.3.0.0/jar) and can be used instead of the jar from `lib/`.

[2019-12-10 09:53] ennru commented on #285
One way to implement this is to rename the database provider class eg.
[code]
and add a `Class.forname` check for the old database provider class.

[2019-12-10 12:42] ennru commented on #254
All good now.

[2019-12-10 12:42] #254 closed

[2019-12-11 10:52] ennru commented on #270
Fixed with #299

[2019-12-11 10:52] #270 closed

[2019-12-13 12:44] ennru opened #300 "Configure serialization to work with Akka 2.6"
### Short description

The tests fail on the scheduled build with Akka 2.6 as it tries to use Java serialization.

### Details

https://travis-ci.com/akka/akka-persistence-jdbc/jobs/266803245#L447

[2019-12-13 15:24] patriknw commented on #300
Fix for JournalPerfSpec.Cmd is in PR https://github.com/akka/akka/pull/28333

[2019-12-13 15:25] patriknw commented on #300
Until fixed the workaround is config `akka.actor.allow-java-serialization = on`

[2019-12-16 11:22] renatocaval opened #303 "Add a timestamp column to journal table"
Akka is introducing a timestamp in the EventEnvelope
https://github.com/akka/akka/pull/28383

This will be very useful to calculate lags when consuming events.

We should add a migration that introduces a new column to safe the timestamp.

The default in Akka is being set to 0L (begin of epoch).

@ignasi35 @pvlugter @ygree

[2019-12-20 12:11] ennru commented on #300
Solved with #305

[2019-12-20 12:11] #300 closed

[2020-01-06 18:20] alexmnyc opened #311 "How do I configure this extension with rotating credentials?"

[2020-01-08 12:13] vasyl-zhurba opened #314 "Add support for Akka 2.6"
Hi,

I am not able to use akka-persistence-jdbc with akka 2.6 any more. I get the following error:

akka-persistence-jdbc depends on akka-persistence-query v2.5.23 which conflicts with akka 2.6.
Is there a way to fix this?

[2020-01-08 12:19] vasyl-zhurba commented on #314
Problem on my side. Fixed it by adding latest version of `akka-persistence-query` which evicted old version

[2020-01-08 12:19] #314 closed

[2020-01-09 16:54] renatocaval commented on #311
I'm afraid this is not supported at the moment.

Contributions are welcome of course.

[2020-01-10 09:35] octonato opened #315 "New Journal Store Schema"
The new journal store table will have a few more fields:

* `ser_id` (Int)
* `ser_manifest` (String)
* `event_manifest` (String)
* `event_payload` (String)
* `writer_uuid` (String)
* `timestamp` column (see [#28383](https://github.com/akka/akka/pull/28383)). Useful for metrics about read-side processors lagging. The timestamp will be addes as Long and defaulting to 0.

We need to refactor the Jour

[2020-01-10 09:36] octonato opened #316 "New Snapshot Store Schema"
Like the journal store, the new snapshot will have a few more fields:

* `ser_id` (Int)
* `ser_manifest` (String)
* `snapshot_payload` (String)

We need to refactor the Snapshot DAO for that new format.

The current table is `snapshot`. Because we don't want destructive migrations, we can add a new schema table called `snapshots`. New users can just start using it from version 4.0.0 onward. Existi

[2020-01-10 09:42] renatocaval opened #317 "Migration tool - 3.5.x => 4.0.0"
The initial goal is to provide a tool based on FlyWay. Enno has done some initial experiments and we are confident that its flexible and powerful enough to run all the migrations we need.

This will be a one-shot tool that will execute all the migration steps from 3.5.x to 4.0.0.

We are not using FlyWay because we want to keep around a table with all applied migrations. Users may delete the table

[2020-01-10 09:42] octonato opened #318 "New schema and migration for 5.0.0"
Events and Snapshots are wrapped in some Akka classe. The goal is to unwrap because those classes were never intended to serialized and saved to DB.

There is a [branch](https://github.com/akka/akka-persistence-jdbc/tree/akka-serialization) in which this was fixed by James (original PR: [#180]( https://github.com/akka/akka-persistence-jdbc/pull/180)).

However, we may not integrate it into master

[2020-01-10 14:56] patriknw commented on #315
maybe call it `journal_events` instead of `journal_messages`? Akka Persistence naming of these things as messages is wrong in my opinion, but we don't have to replicate that problem to more places than necessary.

[2020-01-10 17:13] renatocaval commented on #315
Good. I confess that I was trying to align as much as possible. Cassandra calls it `message` while Couchbase is using `journal_message` in the singular.

[2020-01-13 20:06] WellingR commented on #311
Actually, as long as the JDBC DataSource supports the rotating credentials. Then akka-persistence-jdbc will support this transitively since Slick will request a new connection from the datasource for each transaction.

[2020-01-13 20:07] WellingR commented on #318
I must say I really like the the forwards/backwards compatibiliy, since it allowed the application to read old events, and write them in the new way. The migration could be executed while the application was running.
My idea was to follow the 4.0.0 release with another release (5.0.0?) which does not have all the compatibility code and flags.

I definitely agree that having all the extra code and

[2020-01-14 11:08] renatocaval commented on #318
True, it will be much nicer to be forward/backward compatible, but the cost is also high for us.

Maybe, an alternative approach would be to maintain a branch 3.5.x for a while so users don't need to immediately migrate to 4.0.0. They can decide to do the move on their own pace.

Concerning the issue related to unwrap the BLOB, this is not a major one and I don't think we need to fix in 3.5.x. Use

[2020-01-14 12:47] WellingR commented on #318
Sounds good.

Since the idea is to rename the table anyway, it would be possible to have both at the same time. Therefore it could be possible to run the migration tooling as part of 3.x.x to prepare for the 4.0.0 upgrade

[2020-01-16 07:59] renatocaval commented on #318
Correct. It will also require to run the migration once again offline but will run much faster.

[2020-01-21 10:44] Sh1ftry opened #322 "Out of memory exceptions under high load"
Hello,
we have been using Cassandra plugin and have decided to switch to JDBC plugin with PostgreSQL. However, we have run into an issue, that stops us from migrating. Our service is unable to start, due to out of memory exceptions, when restarting under high load, with many events in journal.
[code]

Plugin configuration:
[code]

Analysing heap dump shows over million allocations of byte array:
[

[2020-01-21 16:11] renatocaval commented on #318
We just realised that we can't filter out events based on tags because the event envelop doesn't contain the tags. On the other hand, this is something that we can fix in Lagom instead.

[2020-01-21 19:05] WellingR commented on #318
Actually I guess it could be possible to filter them out in the `BaseByteArrayReadJournalDao`

[2020-01-21 19:12] WellingR commented on #322
@Sh1ftry The number of events per persistence id seems quite large, do you use snapshots?

I know of one potential cause of this issue:
See the note at the end of https://scala-slick.org/doc/3.3.2/dbio.html#streaming
In akka-persistence-jdbc, we do not set statement parameters and we do not explicitly run the query to retrieve messages in a transaction!
This means that the postgres jdbc driver wil

[2020-01-22 06:52] Sh1ftry commented on #322
We do take snapshots, but we do it every couple of minutes, so with very high load the number of events is high. Switching to taking snapshots on every N events seems to help.

Is there any reason why you are not doing this? If it has any downsides, wouldn't it be useful to put a parameter in configuration, that if explicitly set, would enable this?

[2020-01-29 10:46] fredfp opened #325 "Consecutive calls to defer/deferAsync trip circuit-breaker"
Multiple consecutive `defer/deferAsync` calls trip akka-persistence's circuit-breaker (10 calls in succession are needed for this to happen given the default `max-failures` configuration). After that, the first call to `persist/persistAsync` will fail with a `CircuitBreakerOpenException`.

See also https://github.com/akka/akka/issues/28541

[2020-01-30 08:22] fredfp commented on #325
Closing as this will become a non issue if the proposed fix to akka-persistence is accepted: https://github.com/akka/akka/pull/28542

[2020-01-30 08:22] #325 closed

[2020-01-30 13:51] renatocaval commented on #285
I'm moving this one to milestone 3.6.0. If we merge #329 and cut a 3.6.0, we must be able to detect if the old artefact is on the classpath.

That said, using `DefaultSlickDatabaseProviderV4`, may not be the best option because we will be in 3.6.0

[2020-01-31 08:41] renatocaval commented on #285
I did some trials and got some unsatisfactory results.

It turns out that since the plugin is loaded dynamically, it's possible that the previous version get loaded and the check is never run.

To prevent it, we will need to change the config namespace. Today it is defined at the root: `jdbc-journal`, `jdbc-snapshot-store` and `jdbc-read-journal`.

We can move it to `akka-persistence-jdbc.write`,

[2020-01-31 08:57] renatocaval commented on #285
This creates a problem for fix #329. We would like to have a 3.6.0 release so users are not forced to migrate (see https://github.com/akka/akka-persistence-jdbc/issues/318).

I'm fine to have #329 on a 3.6.0 release that requires some config change (because of namespace change as explained above), but that means that we can't upgrade Lagom with 3.6.0. It's safe to upgrade, but that should be an ex

[2020-02-04 11:03] chbatey opened #334 "Failed: H2ScalaEventAdapterTest"
[code]

[2020-02-05 14:01] renatocaval commented on #285
After some discussion, we decided to not change the config namespace. This has some impact.

1) Akka users using 3.5.x and willing to move to 3.6.x will need to remove 3.5.x artifact from the classpath. If they have both and 3.5.x get loaded first, they will use 3.5.x and the check won't be run. Lagom users that upgrade manually to 3.6.0 will have the same issue.

There is a potential risk here to

[2020-02-05 15:41] renatocaval commented on #285
@WellingR / @dnvriend, to avoid the risk of (1) happening, we would like to create a branch for 3.5.x, merge #329 and add a reverse of #335 to it.

That means that we would release one last version under `com.github.dnvriend`. Would that work for you guys?

The advantage is that whatever artifact is loaded, it will be able to detect the previous or the next version and force the user to choose one

[2020-02-05 20:55] renatocaval opened #337 "Include timestamp in EventEnvelope"
This was recently added in Akka and backported to 2.5.x series.

The timestamp field was added to the `PersistentRepr` in a backwards-compatible fashion. That means we can upgrade to the Akka 2.5.29 and start using it.

No new column is needed for it for the moment since we are serializing `PersistentRepr` and saving it as a blob. That said, it's perfectly possible to start to use the new timestam

[2020-02-05 21:11] renatocaval opened #338 "Detect version of next group ID on classpath"
This is the reverse of #285. It should be added on 3.5.x and check if the next version, using artifact id `com.lightbend.akka` is on the classpath.

[2020-02-05 21:12] renatocaval opened #339 "Backport eventsByTag fix"
To track the backporting of #329

[2020-02-06 07:17] patriknw commented on #337
That is right. Included in Protobuf serialization of PersistentRepr as optional field, and defaults to 0L if not assigned.

In the journal when writing we need to set the timestamp with `persistentRepr.withTimestamp(System.currentTimeMillis(())`

[2020-02-06 08:15] WellingR commented on #285
Sounds good. I am able to push the release to bintray when it is ready. Dennis should still trigger one last maven sync

[2020-02-06 08:16] WellingR commented on #338
Actually if the next group id is NOT on the classpath, we could also log a message informing users that te group id has changed

[2020-02-06 08:19] renatocaval commented on #285
Great @WellingR. Thanks for that.

[2020-02-06 08:27] renatocaval commented on #338
I just realised that we can't do it. We will cut 3.5.3 much before we have a 4.0.0  (or 3.6.0) release. If we give a warning, users will try to update to a version that doesn't exist yet.

[2020-02-06 08:51] WellingR commented on #338
Can't we release 3.5.3 and 3.6.0 at the same time?

[2020-02-06 09:59] patriknw commented on #338
I think we want people to update to 2.5.3 so that we have the check in place in the old version. Therefore I think it's better to wait a bit with 3.6.0.

[2020-02-06 11:54] renatocaval commented on #338
@patriknw, I think @WellingR point is to add a warning in 3.5.3 telling people to move to 3.6.0. And 3.6.0 will be feature-wise identical to 3.5.3, but using groupdId `com.lightbend.akka`.

[2020-02-06 16:01] renatocaval commented on #338
@WellingR, I got some more insight into what Patrik had in mind.

His point is: if we only release 3.5.3 we give people time to upgrade and be exposed to the check. Otherwise, people will simply jump to 3.6.0.

And here is what I just realised:

If you are on `com.github.dnvriend %% akka-persistence-jdbc % 3.5.2` and you update to `3.6.0` or `4.0.0`, you get an error if you don't change the groupI

[2020-02-10 14:45] renatocaval commented on #337
Resolved by #346

[2020-02-10 14:45] #337 closed

[2020-02-10 14:47] renatocaval commented on #339
Resolved by #340

[2020-02-10 14:47] #339 closed

[2020-02-10 14:48] renatocaval commented on #338
Resolved by #341

[2020-02-10 14:48] #338 closed

[2020-02-10 21:30] renatocaval opened #348 "Release Akka Persistence JDBC 3.5.3"
### ~ 1 week before the release

- [x] Check that open PRs and issues assigned to the milestone are reasonable
- [x] Notify depending projects (Lagom) about the upcoming release
- [x] Create a new milestone for the [next version](https://github.com/akka/akka-persistence-jdbc/milestones)
- [x] Check [closed issues without a milestone](https://github.com/akka/akka-persistence-jdbc/issues?utf8=%E2%9C

[2020-02-10 21:32] renatocaval commented on #348
@WellingR, we are good to release v3.5.3. Could you publish it for us?

Don't worry about all the TODOs on this page. I will do the necessary steps.

[2020-02-11 18:59] WellingR commented on #348
I published the artifacts to bintray, and tagged the git repo. I sent an email to Dennis to ask him to trigger a sync

[2020-02-13 07:54] Sh1ftry commented on #322
@WellingR Does implementing this require lots of work? If not, then we could possibly create a pull request with the change.

[2020-02-13 08:57] ignasi35 commented on #322
Would it be possible for you to snapshot every 2 minutes _or_ every 50 or 100 events (whichever happens first)?

[2020-02-13 12:53] renatocaval commented on #322
@Sh1ftry / @WellingR, I'm not sure I understand the issue here. I remember that we once had a PR that was fixing exactly this. When streaming the events, we were taking everything that was in there.

I thought that we have already fixed it.

[2020-02-13 13:10] #348 closed

[2020-02-13 14:29] raboof opened #350 "Automate updating documentation links"
When releasing, currently updating the 'current' documentation link is a manual step.

This is useful for for example the upstream akka project, but for akka-persistence-jdbc it would make sense to automate that step as well.

[2020-02-13 14:47] renatocaval commented on #350
do we have it automated for other 'satellite' projects?

[2020-02-13 15:05] raboof commented on #350
I don't think so yet

[2020-02-13 19:45] WellingR commented on #322
@renatocaval #248 is a PR which fixes a somewhat similar issue, however there is a big difference between how we currently execute the eventsByX queries and how we retrieve the events from the journal.

For the eventsByX queries we query a number of events with a configured batch size, and we execute separate queries to retrieves the batches.
To retrieve events for the journal we simply run a quer

[2020-02-14 13:57] WellingR commented on #322
Related to #1305

[2020-02-19 12:14] renatocaval commented on #322
Thanks @WellingR, I will get to this soon. On my TODO list.

[2020-03-03 10:55] renatocaval opened #359 "Update code of conduct link"
Documentation is still liking to W3C CoC. We should link to https://www.lightbend.com/conduct instead.

[2020-03-03 12:44] renatocaval commented on #359
Fixed in #360

[2020-03-03 12:44] #359 closed

[2020-03-06 11:05] renatocaval commented on #285
Fixed by #335

[2020-03-06 11:05] #285 closed

[2020-03-06 11:33] renatocaval commented on #303
In #365, we have a temporary workaround. If we cut a 3.6.0 release before 4.0.0, we can already benefit from it.

Not closing this one because we want to move it to a new column.

[2020-03-16 20:40] octonato opened #368 "Failed: NoClassDefFoundError: lmcoursier/CoursierConfiguration"
Seems to be temporary issue...

[code]

[2020-03-26 13:55] patriknw opened #371 "Improve how config default values are handled"
Default values should be in reference.conf and not defined in code.
I found that it is not even reading some config values from reference.conf. For example the batchSize in BaseByteArrayJournalDaoConfig.

[2020-03-30 08:54] patriknw commented on #322
Note about incompatible changes in https://github.com/akka/akka-persistence-jdbc/pull/370 that will be released in version 4.0.0.

The APIs for custom DAOs are not guaranteed to be binary backwards compatible between major versions of the plugin.  For example 4.0.0 is not binary backwards compatible with 3.5.x. There may also be source incompatible changes of the APIs for customer DAOs if new capa

[2020-03-30 09:35] #322 closed

[2020-04-01 03:24] jroper commented on #91
@patriknw just encountered this bug myself - well, I consider it a bug, it makes no sense to me that two different events have different offsets depending on which query they were returned from. But, I can't find anything in the Akka persistence docs that defines what an offset is considered to be. My opinion is that it should be considered the offset in the event log, such that if two event envel

[2020-04-01 03:30] jroper commented on #91
Here's an example of when having the offset from a `currentEventsByPersistenceId` would be useful. In investigating a problem in the system, you find that the root of the problem started in a particular entity - for example, you might be doing forensics, and you find that an attacker exploited a bug that allowed them to inject an event into the event log, and by injecting that event, it allowed th

[2020-04-01 06:39] WellingR commented on #91
This example makes sense. However the scaladoc on the definition of `Offset` is not very clear though.

[2020-04-01 09:54] renatocaval commented on #91
This is a good one to add on the upcoming 4.0.0 release.

[2020-04-02 10:57] patriknw commented on #91
For this plugin I agree that it's good to use the same global ordering offset for both eventsByPersistenceId and eventsByTag. The sequenceNumber is anyway included in the EventEnvelope if that is needed.

Also, we should make sure that the offset type used by this plugin is documented if not already.

It's a bit scary behavior change, but maybe that is fine for a 4.0.0 if we make it clear in relea

[2020-04-06 17:43] PerWiklander commented on #315
Aren't SQL tables typically named in the singular?

[2020-04-12 07:54] taeguk opened #381 "The incompatible Akka versions exception occured."
## Environment
* Akka : 2.6.1 (akka-actor-typed, akka-persistence-typed, akka-persistence-query, etc..)
* Akka HTTP : 10.1.11
* akka-persistence-jdbc : 3.5.3

## Occured exception
[code]

## Workaround
- **It works if using `3.5.2` for `akka-persistence-jdbc` instead of the lastest (`3.5.3`)**

[2020-04-14 15:15] patriknw commented on #381
Have you tried with Akka 2.6.4?

[2020-04-15 11:46] xeppaka commented on #315
What is the purpose of event_manifest field?

[2020-04-15 13:28] ignasi35 opened #384 "Failed: sbt launcher is unable to detect the Scala version"
[code]

This appeared in two different PR's at once ([this](https://travis-ci.com/github/akka/akka-persistence-jdbc/jobs/318268533) and [this](https://travis-ci.com/github/akka/akka-persistence-jdbc/jobs/318098408)). It points to https://github.com/sbt/sbt/issues/4955.

I tried a workaround in https://travis-ci.com/github/akka/akka-persistence-jdbc/jobs/318098408: clean the cache and restart the j

[2020-04-16 09:17] taeguk commented on #381
No, I haven't. I can't upgrade akka version to the lastest now. I will do it when possible.

[2020-04-17 04:35] taeguk commented on #381
It works with akka 2.6.4

[2020-04-17 04:35] #381 closed

[2020-04-20 19:58] renatocaval commented on #384
It seems that this was fixed in sbt v1.3.10. Since it was merged all other PRs passed.

They are all merged now.

[2020-04-20 19:58] #384 closed

[2020-04-20 22:49] alexmnyc opened #387 "OWASP issues with 2.5 akka dependencies (please upgrade to 2.6.x preferably the latest)"
https://github.com/akka/akka-persistence-jdbc/blob/master/project/Dependencies.scala#L12

Is it possible to get this released with 2.6.4. akka dependency? OWASP flags dependencies relates to the older Akka versions https://nvd.nist.gov/vuln/detail/CVE-2017-1000034

[2020-04-21 08:01] johanandren commented on #387
All Akka 2.5.x are > 2.5-M1 (That's 2.5.0 milestone 1, so before 2.5.0) which is what is mentioned in that CVE.

[2020-04-22 14:42] ennru commented on #387
This seems to be the same issue as https://github.com/akka/alpakka/issues/2274 let's try to understand what's going on there.

[2020-04-22 14:42] #387 closed

[2020-04-22 14:43] ennru opened #389 "Release Akka Persistence JDBC 4.0.0-RC1"
### ~ 1 week before the release

- [x] Check that open PRs and issues assigned to the milestone are reasonable
- [x] Notify depending projects (Lagom) about the upcoming release
- [x] Create a new milestone for the [next version](https://github.com/akka/akka-persistence-jdbc/milestones)
- [x] Check [closed issues without a milestone](https://github.com/akka/akka-persistence-jdbc/issues?utf8=%E2%9C

[2020-04-24 07:19] patriknw commented on #168
The workaround is in place. We'll look at a better schema later.

[2020-04-24 07:19] #168 closed

[2020-04-24 07:19] #303 closed

[2020-04-24 07:20] #91 closed

[2020-04-24 07:21] patriknw commented on #387
4.0.0-RC1 will be on 2.6

[2020-04-24 15:09] ennru commented on #389
Bintray failed for the core artefacts. This release failed.

[2020-04-24 15:09] #389 closed

[2020-04-27 08:44] ennru opened #394 "Release Akka Persistence JDBC 4.0.0-RC2"
### ~ 1 week before the release

- [x] Check that open PRs and issues assigned to the milestone are reasonable
- [x] Create a new milestone for the [next version](https://github.com/akka/akka-persistence-jdbc/milestones)
- [x] Check [closed issues without a milestone](https://github.com/akka/akka-persistence-jdbc/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20no%3Amilestone) and either assign

[2020-04-27 11:02] #394 closed

[2020-05-18 13:20] samfrown opened #400 "Slow quering the highest sequence number in the journal table on Oracle DB"
### Versions used

akka-persistence-jdbc: 3.5.0
slick: 3.3.2

Akka version: 2.5.23

### Expected Behavior

Predictable time for an actor persistent state loading on restart from Oracle DB in production.

### Actual Behavior

We are using akka-persistence to store state in Oracle Database.

Our average load is about 80M events per day.

We don't use hard deletion of events as it greatly increase da

[2020-05-19 06:25] WellingR commented on #400
I had a quick and these changes make sense. Could you create pull request for this?

[2020-06-04 15:53] alexmnyc opened #409 "Is there a good way to do double publish of the event log for hot-hot availability use cases?"
Is there a good way to do double publish of the event log for hot-hot availability use cases?

[2020-06-05 08:44] renatocaval commented on #409
I'm not sure I do understand your request. Can you elaborate?

[2020-06-05 12:28] alexmnyc commented on #409
I would like the journal to be double published to two different regions for a hot-hot setup. So, that in case of failure in region A, region B would contain the exactly same event log and an Actor could be restarted from region B if needed

[2020-06-05 12:29] alexmnyc commented on #409
I see this https://doc.akka.io/docs/akka-enhancements/current/persistence-dc/index.html

But it looks to be a commercial feature

[2020-06-05 20:24] patriknw commented on #409
It will be open sourced soon. https://www.lightbend.com/blog/lightbend-to-contribute-commercial-features-to-akka-open-source

[2020-06-05 20:29] renatocaval commented on #409
@alexmnyc thanks for the details. As Patrik mention, we will be open sourcing it, but it. However, the JDBC plugin is not yet ready to make use of it. We will need some extra work on this plugin to make it happen.

It will take a while, but stay tuned...

[2020-06-08 09:11] renatocaval opened #410 "Release Akka Persistence JDBC 4.0.0"
### ~ 1 week before the release

- [x] Check that open PRs and issues assigned to the milestone are reasonable
- [x] Create a new milestone for the [next version](https://github.com/akka/akka-persistence-jdbc/milestones)
- [x] Check [closed issues without a milestone](https://github.com/akka/akka-persistence-jdbc/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20no%3Amilestone) and either assign

[2020-06-09 11:53] #410 closed

[2020-09-10 12:52] patriknw opened #431 "Add metadata for Replicated Event Sourcing"
It already works for events since the full PersistentRepr is serialized.

New columns are needed for metadata in the snapshots.

Corresponding Cassandra PR https://github.com/akka/akka-persistence-cassandra/pull/811 and Spanner PR https://github.com/akka/akka-persistence-spanner/pull/95

cc @johanandren @chbatey

[2020-09-22 12:08] olijaun opened #433 "Link to reference.conf not working in akka-persistence-jdbc doc"
Hi

The Link to the example reference.conf (section "Reference Configuration") doesn't work on https://doc.akka.io/docs/akka-persistence-jdbc/current/index.html (4.0.0).

Regards
Oliver

[2020-10-14 05:04] tavisca-asingla commented on #41
@dnvriend , in our application the open connections are not getting closed. Should I explicitly close those connections on termination of actor system by calling system.registerOnTermination(SlickDatabase(system).close)?

The number of  connections rises even if the actor system is not shut down.

Current version is
implementation "com.github.dnvriend:akka-persistence-jdbc_$scalaCompactVersion:3.5

[2020-10-15 21:52] ihostage commented on #41
Hello @tavisca-asingla,   

[Discuss forums](https://discuss.lightbend.com/) would be a better place to discuss this. Github issues are for reporting bugs and feature requests, not for general discussion and getting help.

Best.

[2020-10-27 10:32] tavisca-asingla commented on #213
In my case, I am getting these exceptions only while saving the snapshot. Never got this error while persisting data in journal. We do have split brain resolver in place. And as journal is not giving such errors, it does not looks to be related to cluster being in split brain. My entityIds are unique as expected. Did anyone get the error while saving the snapshot?

[2020-10-28 10:29] tavisca-asingla commented on #25
hi, @dnvriend , I am still getting these exception that p_key already exists. The link you shared above seems to be broken for custom insert query. I tried to reach out on lightbend, but I think the problem is uncommon. Did not receive any response till now. https://discuss.lightbend.com/t/error-while-saving-snapshot-persistence-id-sequence-number-already-exists/7389

[2020-11-06 17:07] rdubois opened #451 "JdbcReadJournal doesn't use the configuration passed in parameters to resolve the write plugin"
Please read https://github.com/akka/akka/issues/28934 and the underlying rejected PR https://github.com/akka/akka/pull/28935.

[2020-11-20 05:18] lmayumi opened #455 "Working Example for JDBC MySQL configuration"
Hi, I have been trying to get my EventSourceBehavior to write to MySQL and am getting following error, what could be the issue? Error is very generic and it is hard to see what is the root cause. Is there a way to test wether my JDBC is correctly configured via Akka, ex connectivity etc

The error I am getting is:

[code]

application.conf

[code]

[2020-11-20 06:35] lmayumi commented on #455
I am trying to debug following error message, since error does not print the root cause it is difficult to debug what is the issue here. I tried changing the timeouts, however issue does not seem to recover. In general what is a good way to debug Akka related issues? Thanks

[code]

[2020-11-21 03:11] #455 closed

[2020-12-03 05:32] tavisca-asingla commented on #213
The error of which I commented above is caused due to slick failing on upsert operation. The if not exists check is failing, the reason is not known. Following are the debug logs of slick:
[code]
dont know why insert is getting triggered, when it is already checking for records existence.
Following is the error:
[code]

[2020-12-03 05:37] tavisca-asingla commented on #25
I checked for debug logs of slick and sql being generated looks fine.
[code]
I am not sure why I am getting errors in upsert opertion when there is already a not exists check in the query for insert. Upsert works fine for first two times and for the third time it fails on same sequence Number.

I get the following error in the end:

[code]

[2020-12-08 16:44] octonato commented on #451
Solved in #453

[2020-12-08 16:44] #451 closed

[2020-12-10 08:44] chbatey commented on #315
We also need to add columns for the metadata

[2020-12-10 12:43] ennru commented on #233
This is not a problem anymore.

[2020-12-10 12:43] #233 closed

[2020-12-10 13:16] octonato commented on #69
I'm working on a PR to do this, but not as auto-creation via property, but using an utility class that we can run at test start-up (or application).

[2020-12-10 14:41] octonato commented on #400
Done in #401

[2020-12-10 14:41] #400 closed

[2020-12-16 16:01] ennru opened #468 "Require Akka 2.6"
To make use of all the improvements that become available with Akka 2.6 even Akka Persistence JDBC will start to require Akka 2.6.

[2020-12-16 16:24] chbatey opened #469 "Event update for 5.0.0 schema"
Not supported by the new DAO yet

[2020-12-16 18:13] patriknw commented on #468
I agree. Good for 5.0.0.

[2020-12-17 08:41] ennru commented on #468
Actually, even 4.0 was Akka 2.6 only already.
But there is some code left which is not adapted to Akka 2.6.

[2020-12-17 10:24] #468 closed

[2020-12-17 13:19] octonato opened #472 "Add @InternalApi where applicable"
We should be more clear what it internal API and what not. I will say that for a plugin, most APIs are internal.

The DAOs and eventually some utility classes can be public.

I suggest that we schedule this to be done before `5.0.0`.

[2020-12-17 13:20] octonato opened #473 "Tweak build to fail on warnings"
Like any other project in the Akka org.

There are a few warnings to remove as of today, but feasible.

[2020-12-17 21:04] ennru commented on #433
This has been updated in the 4.0.0 docs.

[2020-12-17 21:04] #433 closed

[2020-12-17 21:05] ennru commented on #368
We haven't seen more reports, closing.

[2020-12-17 21:05] #368 closed

[2020-12-17 21:06] ennru commented on #268
Implemented with #474

[2020-12-17 21:06] #268 closed

[2020-12-18 09:04] patriknw commented on #472
I don't think we should spend time on trying to make current shape of the plugin binary compatible with a well defined public api. The heavy usage of traits and no thought of that from the beginning makes it impossible. We will eventually rewrite it and then we should take this into account.

[2021-01-08 15:34] ennru opened #480 "Release Akka Persistence JDBC 5.0.0-RC1"
### ~ 1 week before the release

- [x] Check that open PRs and issues assigned to the milestone are reasonable
- [x] Create a new milestone for the [next version](https://github.com/akka/akka-persistence-jdbc/milestones)
- [x] Check [closed issues without a milestone](https://github.com/akka/akka-persistence-jdbc/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20no%3Amilestone) and either assign

[2021-01-11 09:24] chbatey opened #482 "Failed: H2ScalaEventsByTagTest"
[code]

Underlying cause appears to be:

[code]

[2021-01-11 10:34] chbatey commented on #431
Done as part of https://github.com/akka/akka-persistence-jdbc/issues/315

[2021-01-11 10:34] #431 closed

[2021-01-11 10:34] chbatey commented on #316
https://github.com/akka/akka-persistence-jdbc/pull/467

[2021-01-11 10:34] #316 closed

[2021-01-11 10:35] chbatey commented on #315
https://github.com/akka/akka-persistence-jdbc/pull/467

[2021-01-11 10:35] chbatey commented on #482
https://travis-ci.com/github/akka/akka-persistence-jdbc/jobs/470344115

[2021-01-11 10:40] ennru commented on #260
We'll stay off mergify for now.

[2021-01-11 10:40] #260 closed

[2021-01-11 10:52] ennru commented on #69
#465 introduced the `SchemaUtils` (for release 5.0.0) which is mostly targeted to simplify testing setups.
We will not enable auto-creation of the database schema by default. If that it the correct choice for you application, you may use `SchemaUtils` to do that.

[2021-01-11 10:52] #69 closed

[2021-01-11 10:53] #315 closed

[2021-01-11 10:54] ennru commented on #317
Release 5.0.0 changes the database schema and requires users to either migrate their data or set the configuration to use the old schema.
New applications should use the new schema.

[2021-01-11 11:32] ennru commented on #409
The new database schema introduced in release 5.0.0 allows using Akka Persistence JDBC with [Replicated Event Sourcing](https://doc.akka.io/docs/akka/current/typed/replicated-eventsourcing.html).

[2021-01-11 11:32] #409 closed

[2021-01-11 11:34] ennru commented on #318
#467 introduces the new database schema.
A migration tools is not available at this time.

[2021-01-11 11:34] #318 closed

[2021-01-18 13:33] ennru commented on #480
The RC1 is available https://github.com/akka/akka-persistence-jdbc/releases/tag/v5.0.0-RC1

[2021-01-18 13:33] #480 closed

[2021-01-21 09:31] ennru commented on #371
Fixed with #488

[2021-01-21 09:31] #371 closed

[2021-01-21 10:20] octonato opened #491 "Release Akka Persistence JDBC 5.0.0"
### ~ 1 week before the release

- [x] Check that open PRs and issues assigned to the milestone are reasonable
- [x] Create a new milestone for the [next version](https://github.com/akka/akka-persistence-jdbc/milestones)
- [x] Check [closed issues without a milestone](https://github.com/akka/akka-persistence-jdbc/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20no%3Amilestone) and either assign

[2021-01-22 11:30] ignasi35 commented on #482
Again, except this time the failure was on the H2 flavor of the test: (it was MySQL's on the case @chbatey reported above)

https://travis-ci.com/github/akka/akka-persistence-jdbc/jobs/474105442#L960

[2021-01-23 17:58] Tochemey commented on #317
@ennru How long will the old schema will be viable? I think a migration tool is paramount and I don't think we should let the users do it.

[2021-01-23 23:42] Tochemey opened #500 "SchemaUtils does not use configuration entries"
I have observed that the following configuration entries are ignored when using ` SchemaUtils.createIfNotExists()`

- https://github.com/akka/akka-persistence-jdbc/blob/v5.0.0/core/src/main/resources/reference.conf#L139-L140
- https://github.com/akka/akka-persistence-jdbc/blob/v5.0.0/core/src/main/resources/reference.conf#L160-L161
- https://github.com/akka/akka-persistence-jdbc/blob/v5.0.0/core/s

[2021-01-24 08:43] patriknw commented on #317
We agree that a migration tool is important, but we don't have the bandwidth to create it right now. We think it is value in that new projects can benefit from the new schema.

Community contribution of migration tool is much welcome.

[2021-01-25 09:13] octonato commented on #500
@Tochemey, the tool is for testing. By default, it loads schema we show in the docs.

It doesn't have the ambition to cover all the cases. However, there is an escape hatch if you need load a tweaked schema, for that you should use `SchemaUtils.applyScript`. You can then pass whatever script you want.

I understand that it would be more convenient to have it reading the user defined configuration,

[2021-01-25 10:08] Tochemey commented on #500
@octonato Great.

[2021-01-25 10:08] #500 closed

[2021-01-25 11:00] octonato commented on #168
There is now a definitive fix for that (not workaround). Tags are added to a separate table allowing for one-to-many relations. See #467.

[2021-01-26 10:49] #491 closed

[2021-01-31 12:15] Tochemey commented on #317
Hello,

I would like to know how to perform this:
[code]
looking at the new schema when dealing with things like:

- ser_id
- ser_manifest

[2021-02-02 07:35] aludwiko commented on #246
@octonato are you sure? I'm not able to find such a method in the Typed version. I can only set retentionCriteria, which is not the same as deleting all events.

[2021-02-02 10:44] Tochemey commented on #317
@octonato @patriknw kindly provide some pointers on the above comment. Thanks

[2021-02-02 14:34] octonato commented on #317
@Tochemey, you may not need to deal with the internals of serialization. At least not at that level.

Instead, you can use the existing DAOs to read from one table and write to the other. The DAOs take care of the deserialization and serialization.

For instance, you can use the [legacy query DAO](https://github.com/akka/akka-persistence-jdbc/blob/380db7e3475bc6811c5539ddfaf4faa14570c29d/core/src/

[2021-02-03 14:04] octonato commented on #246
@aludwiko, you can delete the events after making a snapshot as described here https://doc.akka.io/docs/akka/current/typed/persistence-snapshot.html#event-deletion

There is no functionality to delete all events directly though. Maybe that's what you are looking for?

The deletion in typed is done in a controlled way, meaning, if a snapshot is made then you can delete all events previous to the sn

[2021-02-04 08:18] Tochemey commented on #317
@octonato I have gone through the DAO. However I cannot get my head around some of the methods. I think what I need is:

- read all messages from a journal table
- read all message from a snapshot table

Then I can just use the new DAO to be able to push the messages into the new schemas.

To fetch all messages do I need to:

- read all persistence IDs first
- get the various sequence number and c

[2021-02-07 17:34] skisel opened #502 "Oracle schema bug: wrong attribute name"
### Versions used
5.0.0

Akka version:
2.6.12

### Expected Behavior

Oracle schema provided from the examples can be used as is without manipulations:
https://github.com/akka/akka-persistence-jdbc/blob/master/core/src/main/resources/schema/oracle/oracle-create-schema.sql

Currently schema defines `EVENT_MANIFEST VARCHAR(255)` instead of `ADAPTER_MANIFEST VARCHAR(255)`, while other scripts for Pos

[2021-02-10 14:04] rdubois opened #504 "Missing breaking documentation for 4.X to 5.X migration ?"
### Versions used

Akka version: 2.6.12

### Expected Behavior

The migration documentation is about changing the DAOs to be used when using old schemas. I think there is a missing part in the documentation related to `JdbcAsyncWriteJournal` which relies on `Legacy` table configuration to create the journal config.

Before the change, the `JdbcAsyncWriteJournal` did use that kind of config:

[code

[2021-02-11 09:41] octonato commented on #504
@rdubois, you are right. The config moved to `legacy_journal`. Same for the snapshot.

Thanks for reporting it.

[2021-02-15 07:13] rdubois commented on #504
Documentation has been updated. I clode that issue.

[2021-02-15 07:13] #504 closed

[2021-03-08 13:19] #502 closed

[2021-04-02 09:25] octonato opened #520 "Failed: find all events by tag even when lots of events are persisted concurrently"
This is not from a nightly build, but normal PR build.

I have seen this failing twice (for h2 and for mysql).

[code]

[2021-04-02 09:26] octonato commented on #520
Oh, this was already reported in #482

[2021-04-02 09:26] #520 closed

[2021-04-06 14:18] skisel opened #521 "Cannot extend slick.jdbc.OracleProfile with akka-persistence-jdbc"
### Versions used

akka-persistence-jdbc: 5.0.0
Akka version: 2.6.12

### Expected Behavior

It should be possible to persist big messages (>4000 bytes) if custom profile is used (still extends slick.jdbc.OracleProfile)

### Actual Behavior

Oracle fails to persist messages with: `ORA-01461: can bind a LONG value only for insert into a LONG column`

[2021-04-07 16:01] rrevi opened #523 "oracle-create-schema.sql and default reference.conf files mismatch"
### Versions used

Akka version: 2.6.13
akka-persistence-jdbc version: 5.0.0

### Expected Behavior

1. Run the oracle-create-schema.sql script on a Oracle DB instance
2. Run a Akka app with persistence without overwriting the schema table and column name values from reference.conf in your application.conf
3. Success 🥳

### Actual Behavior

1. Run the oracle-create-schema.sql script on a Oracle DB

[2021-04-12 10:11] octonato commented on #523
Hi @rrevi,

Thanks for reporting this. You are correct on your comment in the [discuss forum](https://discuss.lightbend.com/t/akka-persistence-ora-00942-table-or-view-does-not-exist/8085/6?u=octonato).

`oracle-schema-overrides.conf` is fixing this, but that only happens in our tests. Which also explains why we didn't see any issue.

I will check if we can use lowercase in the default create scrip

[2021-04-12 10:25] chbatey commented on #523
From memory the Oracle JDBC driver doesn't support a prepared statement
that returns a value for a table with a case sensitive name and it
manifests its self as a table not found error

On Mon, Apr 12, 2021 at 11:11 AM Renato Cavalcanti ***@***.***>
wrote:

[2021-04-29 09:48] octonato commented on #521
Done in #522

[2021-04-29 09:48] #521 closed

[2021-05-08 15:22] dagaharshit opened #532 "Replicated Event Sourcing - Event does not contain replication metadata"
### Versions used

[code]
Lightbend resources have a sample application on Akka-multi-dc using Cassandra databsae. I have made a few changes in that source code to run the application with MySql database.
Source code for my sample application is available [here](https://github.com/dagaharshit/akka-multi-dc-using-jdbc).
 When I run the application on my local machine it gives me the following excep